{% extends 'media.html.twig' %}


{% block maincontent %}
    <section class="wrapper_tabcontent">
        <article id="picture" class="tab-content current">
            <article class="display site-display ">
                <div class="display-content" >

                    <div class="top">

                        <div class="actions-btn-container">

                            <div class="left-btns">

                                {% if uploadIsAuthorizedOnPage is defined and uploadIsAuthorizedOnPage is not same as(false) %}
                                    <div class="upload-btn-container container">
                                        <button type="button" class="btn btn-upload add-table"><i class="fas fa-plus"></i>UPLOAD</button>
                                    </div>
                                {% endif %}

                                <div class="show-media-waiting-incrustation-container container">
                                    <button type="button" id="show-media-waiting-incrustation" class="btn">
                                        <i class="fas fa-hourglass-half"></i>
                                        En attente d'incrustation
                                    </button>
                                    <span class="media-waiting-incrustation-number">{{ mediasWaitingForIncrustation['number'] }}</span>
                                </div>

                                <div class="show-archived-media-container container">
                                    <button type="button" id="show-archived-media-button" class="btn">
                                        <i class="fas fa-archive"></i>
                                        Médias archivés
                                    </button>
                                    <span class="archived-medias-number">{{ archivedMedias['number'] }}</span>
                                </div>

                            </div>

                            <div class="display-btn right-btns">

                                <div class="container">
                                    <span>Medias : </span>
                                </div>

                                <div class="container">
                                    <button type="button" class="btn modify_media_btn media_action_btn" disabled><i class="fas fa-pen"></i>Modifier</button>
                                </div>

                                <div class="container">
                                    <button type="button" class="btn duplicate_media_btn media_action_btn" disabled><i class="fas fa-plus"></i>Dupliquer</button>
                                </div>

                                <div class="container">
                                    <button type="button" class="tags-table">TAG</button>
                                </div>

                                <div class="container">
                                    <button type="button" class="btn delete_media_btn media_action_btn" disabled><i class="fas fa-trash"></i>Supprimer</button>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="body">

                        <div class="filters-container">

                            <div class="left-filter-container">

                                <div class="filter-by-orientation-or-type-container">

                                    <div class="filter-media-by-orientation show-only-horizontal-media filter">
                                        <i class="fas fa-mobile"></i> <br>
                                        <span>Horizontal</span>
                                    </div>

                                    <div class="filter-media-by-orientation show-only-vertical-media filter">
                                        <i class="fas fa-mobile"></i> <br>
                                        <span>Vertical</span>
                                    </div>

                                    <div class="filter-media-by-type show-only-images filter">
                                        <i class="fas fa-image"></i> <br>
                                        <span>Images</span>
                                    </div>

                                    <div class="filter-media-by-type show-only-videos filter">
                                        <i class="fab fa-youtube"></i> <br>
                                        <span>Videos</span>
                                    </div>

                                </div>

                                <div class="filter-by-characteristics-container">

                                    <div class="filter-by-categories-container filter-by-characteristics-item">

                                        <div class="apply-filter-container">
                                            <input type="checkbox" class="apply-filter" data-target="categories">
                                        </div>

                                        <div class="filter-select-container">
                                            <select id="filter-by-categories">
                                                <option value="" selected>Catégories</option>
                                                {% for categorie in categories %}
                                                    <option value="{{ categorie.id }}">{{ categorie.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>

                                    <div class="filter-by-products-container filter-by-characteristics-item">

                                        <div class="apply-filter-container">
                                            <input type="checkbox" class="apply-filter" data-target="products">
                                        </div>

                                        <div class="filter-select-container">
                                            <select id="filter-by-products">
                                                <option value="" selected>Produits</option>
                                                {% for product in products %}
                                                    <option value="{{ product.id }}">{{ product.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>

                                    <div class="filter-by-criterions-container filter-by-characteristics-item">

                                        <div class="apply-filter-container">
                                            <input type="checkbox" class="apply-filter" data-target="criterions">
                                        </div>

                                        <div class="filter-select-container">
                                            <select id="filter-by-criterions">
                                                <option value="" selected>Critères</option>
                                                {% for criterion in criterions %}
                                                    <option value="{{ criterion.id }}">{{ criterion.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>

                                    <div class="filter-by-tags-container filter-by-characteristics-item">

                                        <div class="apply-filter-container">
                                            <input type="checkbox" class="apply-filter" data-target="tags">
                                        </div>

                                        <div class="filter-select-container">
                                            <select id="filter-by-tags">
                                                <option value="" selected>Tags</option>
                                                {% for tag in tags %}
                                                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>

                                    <div class="filter-validation-btn-container">
                                        <button class="filter-validation-btn" type="button">Filtrer</button>
                                    </div>

                                </div>

                            </div>

                            <div class="right-filter-container">

                                <div class="filter-by-created-date-container">
                                    <select name="" id="medias-sortable-by-date">
                                        <option value="desc" selected>Les plus récents d'abord</option>
                                        <option value="asc">Les plus anciens d'abord</option>
                                    </select>
                                </div>

                                <div class="pagination-container">

                                    <div class="displayed-elements-number-selection-container container">
                                        <select id="displayed-elements-number-selection">
                                            {% for choice in numberOfMediasAllowedToDisplayed %}
                                                <option value="{{ choice }}" {% if choice is same as(app.session.get('numberOfMediasDisplayedInMediatheque')|string_to_int) %} selected {% endif %}>{{ choice }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="pages-container container">

                                        {% if numberOfPages > 1 %}

                                            {% for i in 1..numberOfPages %}

                                                {% if loop.first or loop.last %}
                                                    <a class="page {% if loop.first %}current_page{% endif %}" href="">{{ i }}</a>
                                                {% endif %}

                                                {% if not loop.first and not loop.last %}

                                                    {% if i < 3 %}
                                                        <a class="page {% if i is same as(1) %}current_page{% endif %}" href="">{{ i }}</a>

                                                    {% else %}

                                                        <span>...</span>

                                                    {% endif %}

                                                {% endif %}

                                            {% endfor %}

                                            <i class="fas fa-chevron-right page_navigation_arrow next"></i>

                                        {% endif %}

                                    </div>

                                </div>

                            </div>

                        </div>


                        <div class="medias-list-container">

                            {% for mediaInfos in mediasToDisplayed['medias'] %}

                                {% include "/media/_media_card.html.twig" with { 'media': mediaInfos['media'], 'media_products': mediaInfos['media_products'], 'media_allergens': mediaInfos['media_allergens'], 'media_categories': mediaInfos['media_categories'], 'media_tags': mediaInfos['media_tags'], 'media_criterions': mediaInfos['media_criterions'], 'media_type': mediaInfos['media_type'] } %}

                            {% endfor %}

                        </div>


                    </div>

                </div>
            </article >

            {% if uploadIsAuthorizedOnPage is defined and uploadIsAuthorizedOnPage is same as(true) %}

                {% include "/popups/upload-popup.html.twig" %}

            {% endif %}

            {% include "/popups/mediasWaitingForIncrustes/popup_medias_waiting_incrustes.html.twig" %}

            {% include "/popups/mediaInfoSheet/popup_media_info_sheet.twig" %}

            {% include "/popups/deletingMedia/popup_delete_media.html.twig" %}

        </article>
    </section>

{% endblock %}