{% extends 'media.html.twig' %}


{% block maincontent %}
    <section class="wrapper_tabcontent">
        <article id="picture" class="tab-content current">
            <article class="display site-display ">
                <div class="display-content">
                    {% if uploadIsAuthorizedOnPage is defined and uploadIsAuthorizedOnPage is not same as(false) %}
                    <div>
                        <button type="button" class="btn btn-upload add-table"><i class="fas fa-plus"></i>UPLOAD</button>
                    </div>
                    {% endif %}
                    <div class="display-content-columns">
                        <div class="display-content-poste">
                            <button type="button" class="drop-btn" >Afficher des colonnes <div class="drop-btn-icone"><i class="fas fa-angle-down"></i></div></button>
                            <div class="display-content-down">
                                <div class="product-select-col">
                                    <label class="mutliselect-chkbox" > Société / Marque
                                        <input type="checkbox"  checked name="satut"  data-tableDeleteCol="Societe" value="" >
                                        <span class="mutliselect-check"></span>
                                    </label>
                                </div>
                                <div class="product-select-col">
                                    <label class="mutliselect-chkbox"> Groupe de prix
                                        <input type="checkbox"  checked name="satut"  data-tableDeleteCol="Groupe" value="">
                                        <span class="mutliselect-check"></span>
                                    </label>
                                </div>
                                <div class="product-select-col">
                                    <label class="mutliselect-chkbox"> Critéré sélectif obligatoire</span>
                                        <input type="checkbox"  name="satut"  data-tableDeleteCol="selectif" value="">
                                        <span class="mutliselect-check"></span>
                                    </label>
                                </div>
                                <div class="product-select-col">
                                    <label class="mutliselect-chkbox"> Critérés
                                        <input type="checkbox"  checked name="satut"  data-tableDeleteCol="critere" value="">
                                        <span class="mutliselect-check"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="display-btn">
                        <p>Produits : </p>
                        <button type="button" class="btn add-table"><i class="fas fa-plus"></i>Ajouter</button>
                        <button type="button" class="btn duplicate-table"><i class="fas fa-plus"></i>Dupliquer</button>
                        <button type="button" class="btn modified-table"><i class="far fa-edit"></i>Modifier</button>
                        <button type="button" class="btn delete-table"><i class="fas fa-trash"></i>Supprimer</button>
                        <button type="button" class="tags-table">TAG</button>
                    </div>
                </div>
            </article >

            {% if uploadIsAuthorizedOnPage is defined and uploadIsAuthorizedOnPage is not same as(false) %}

                <article class="add-popup upload_popup">
                    <div class="modal">

                        <div class="header-modal">
                            <div>
                                <p class="upload-title">Préparation de l'Upload</p>
                                <button type="button" class="btn btn-popupclose upload_abort">X</button>
                            </div>
                        </div>

                        <div class="model-upload-file files_selection">

                            <div class="upload-file">
                                <form id="uploadForm">

                                    <div class="box__input dragndrop_download_input_container">
                                        <span>Déposez votre ou vos fichiers ici</span> <br>
                                        <img src="{{ asset('/build/images/download_icon.png') }}" alt="download icon">
                                    </div>

                                    <div class="basic_download_input_container">
                                        <label for="uploadmedia">Sélectionner vos fichiers</label>
                                        <input type="file" id="uploadmedia" class="uploadbtn" name="uploadmedia" multiple>
                                    </div>

                                </form>
                            </div>

                            <div class="upload-info">

                                <div class="table">
                                    <table class="table-custome" >
                                        <thead  class="table-info thead-content">
                                            <tr>
                                                <th>Liste des médias déposés :</th>
                                                <th></th>
                                                <th>Formats acceptés</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody tbody-content scrollbar-table">

                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <div class="start-upload-container">
                                <span class="error error_over-max-file"></span>
                                <button type="button" class="product-btn-add start_upload_button" style="display: none">Démarrer l'upload</button>
                            </div>

                        </div>

                        <div class="modal-upload-download" style="display: none">

                            <div class="upload_list_container">
                                <table class="upload_list">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody-content tbody">

                                    </tbody>
                                </table>
                            </div>

                            <div class="download-file">
                                <button type="button" class="btn btn-popupclose upload_abort">Annuler</button>
                                <button type="button" class="product-btn-add show_media_edit_container" style="display: none;">Suivant</button>
                            </div>

                        </div>

                        <div class="edit_media_info" style="display: none">

                            <div class="media_list_container">

                                <div class="hidden">
                                    {{ form_start(form) }}
                                    <ul class="medias_collection" data-prototype="{{ form_widget(form.medias.vars.prototype)|e('html_attr') }}" data-widget-tags="{{ '<li></li>'|e }}"></ul>
                                    {{ form_end(form) }}
                                </div>

                                <table class="media_list">

                                    <thead>
                                        <tr>
                                            <th>Médias</th>
                                            <th>Caractéristiques</th>
                                            <th>Nom</th>
                                            <th>Date de diffusion</th>
                                            <th>Affecter TAGS</th>
                                            <th>Associer produits</th>
                                            <th>Incruste de prix</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                    </tbody>

                                </table>
                            </div>

                            <div>
                                <button type="button" class="btn-popupclose">Annuler</button>
                                <button type="button" class="save-media-modif">Enregistrer</button>
                            </div>

                        </div>

                    </div>
                </article>
                </article>

                <article class="associate_product-popup hidden">
                    <div class="modal">
                        <div class="header-modal">
                            <div class="modal-title-container">
                                <p class="title">Associer des produits au média : <span class="media_name"></span></p>
                            </div>
                            <div class="close-modal-container">
                                <button type="button" class="btn close">X</button>
                            </div>
                        </div>

                        <div class="modal-body">

                            <div class="body-top">
                                <div class="filter-left filter-by-category">
                                    <select class="product-category-choice">
                                        <option value="">Tout afficher</option>
                                        {% for categorie in categories %}
                                            <option value="{{ categorie.id }}">{{ categorie.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="filter-right filter-by-field">
                                    <input type="search" name="search[product]" placeholder="Rechercher un élément..." required>
                                </div>
                            </div>

                            <div class="body-middle">

                                <section class="product-choice-list-container">

                                    <table>
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" class="select_all_products"></th>
                                                <th>Nom du produit</th>
                                                <th>Description</th>
                                                <th>TAGS</th>
                                            </tr>
                                        </thead>

                                        <tbody class="product-choice-list">
                                            {% for product in products %}
                                                <tr data-product="{{ product.id }}" data-category="{{ product.category.id }}">
                                                    <td><input type="checkbox" class="choice_product" name="choice_product_{{ loop.index }}" data-product="{{ product.name }}"></td>
                                                    <td>{{ product.name }}</td>
                                                    <td>{{ product.description }}</td>
                                                    <td>
                                                        {% for tag in product.tags %}
                                                            <span>{{ tag.name }}</span>
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </section>

                                <section class="product-associated-list-container">

                                    <table>

                                        <thead>
                                            <tr>
                                                <th>Produits associés</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody class="product-associated-list">

                                        </tbody>

                                    </table>

                                </section>

                            </div>

                            <div class="body-bottom">

                                <div class="cancel-btn-container">
                                    <button type="button" class="cancel-btn close">Annuler</button>
                                </div>

                                <div class="validation-btn-container">
                                    <button type="button" class="validation-btn">Valider</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </article>

            {% endif %}

    </section>

{% endblock %}