<section class="popup_container association_popup_container popup_associate_product_container">

    <article class="popup popup_associate_product association_popup">

        <div class="popup_header">

            <div class="left_side popup_header_item">
                <div class="item icon-container">
                    <i class="fas fa-link icon"></i>
                </div>

                <div class="item title_container">
                    <p class="title">Associer des produits au média :</p>
                </div>

                <div class="item media_name_container">
                    <p class="media_name"></p>
                </div>

            </div>

            <div class="right_side popup_header_item">

                <div class="item close_popup_button_container">
                    <button type="button" class="close_modal_button">X</button>
                </div>

            </div>

        </div>

        <div class="popup_body">

            <div class="popup_body_item container">

                <div class="container_header">

                    <div class="left_side filters_container filters_by_associated_data_container">

                        <div class="filter filter_by_category">
                            <select class="filter_by_categories">
                                <option value="">Tout afficher</option>
                                {% for categorie in categories %}
                                    <option value="{{ categorie.id }}">{{ categorie.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="filter filter_by_criterion">
                            <select class="filter_by_criterions">
                                <option value="">Tout afficher</option>
                                {% for criterion in criterions %}
                                    <option value="{{ criterion.id }}">{{ criterion.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="filter filter_by_tag">
                            <select class="filter_by_tags">
                                <option value="">Tout afficher</option>
                                {% for tag in tags %}
                                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="filter_validation_btn_container">
                            <button type="button" class="btn filter_validation_btn">Filtrer</button>
                        </div>

                    </div>

                    <div class="right_side filters_container">

                        <div class="search_element_container filter_with_search_container">
                            <input type="search" class="filter filter_with_search" name="search[product]" placeholder="Rechercher un élément...">
                        </div>

                    </div>

                </div>

                <div class="container_body">

                    <div class="container_body_item table products_choice_list_container">

                        <table class="table-custome">
                            <thead class="thead-info">
                                <tr>
                                    <th><input type="checkbox" class="select_all_products"></th>
                                    <th>Nom du produit</th>
                                    <th>Description</th>
                                    <th>Critères</th>
                                    <th>TAGS</th>
                                </tr>
                            </thead>

                            <tbody class="products_choice_list list tbody tbody-content scrollbar-table">
                                {% for product in products %}
                                    <tr data-product_id="{{ product.id }}" data-tags="{{ productsTags[product.id]['ids'] | join(', ') }}" data-categories="{{ product.category.id }}" data-criterions="{{ productsCriterions[product.id]['ids'] | join(', ') }}">
                                        <td><input type="checkbox" class="choice_product" data-product_name="{{ product.name }}"></td>
                                        <td><span class="product_name">{{ product.name }}</span></td>
                                        <td><span>{{ product.description }}</span></td>
                                        <td class="criterions_col">
                                            {% if product.criterions | length < 1 %}

                                                Aucun critères

                                            {% else %}

                                                {% for criterion in product.criterions %}
                                                    <span>{{ criterion.name }}</span>
                                                {% endfor %}

                                            {% endif%}
                                        </td>
                                        <td class="tags_col">
                                            {% if product.tags | length < 1 %}

                                                Aucun tags

                                            {% else %}

                                                {% for tag in product.tags %}
                                                    <span>{{ tag.name }}</span>
                                                {% endfor %}

                                            {% endif%}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="container_body_item chevron_right_container">
                        <i class="fas fa-caret-right update_media_associated_products_list"></i>
                    </div>

                    <div class="container_body_item table products_associated_list_container">

                        <table class="table-custome">

                            <thead class="thead-info">
                                <tr>
                                    <th>Produits associés</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody class="products_associated_list tbody tbody-content scrollbar-table">

                            </tbody>

                        </table>

                    </div>

                </div>

            </div>

        </div>

        <div class="popup_footer popup_item_container">

            <div class="actions_buttons_container">
                <button class="btn close_modal_button cancel" type="button">Annuler</button>
            </div>

            <div class="actions_buttons_container">
                <button class="btn validate_association_btn" type="button" disabled>Valider</button>
            </div>

        </div>

    </article>

</section>