{% block home_enseigne %}
    
    <p class="border--line">Vos enseignes</p>
    <div class="home_enseignes-bloc">
        <div class="home_enseignes-col">
            <img src="{{ asset('/build/images/Logo_Factory&cO.png') }}" alt="Factory & cO">
            <p>Factory &amp; co</p>
        </div>
        <div class="home_enseignes-col">
            <img src="{{ asset('/build/images/Logo_SuperWildCoffee.png') }}" alt="logo quick">
            <p>Super Wild Coffee</p>
        </div>
        <div class="home_enseignes-col">
            <img src="{{ asset('/build/images/Logo_Francesca.png') }}" alt="logo quick">
            <p>Francesca</p>
        </div>
        <div class="home_enseignes-col">
            <img src="{{ asset('/build/images/Logo_Factory&cO.png') }}" alt="logo quick">
            <p>Factory &amp; co</p>
        </div>
        <div class="home_enseignes-col">
            <img src="{{ asset('/build/images/Logo_Francesca.png') }}" alt="logo quick">
            <p>Francesca</p>
        </div>
        <div class="home_enseignes-col">
            <img src="{{ asset('/build/images/Logo_SuperWildCoffee.png') }}" alt="logo quick">
            <p>Super Wild Coffee</p>
        </div>
        <div class="home_enseignes-col">
            <img src="{{ asset('/build/images/Logo_Factory&cO.png') }}" alt="logo quick">
            <p>Factory &amp; co</p>
        </div>
        <div class="home_enseignes-col">
            <img src="{{ asset('/build/images/Logo_SuperWildCoffee.png') }}" alt="logo quick">
            <p>Super Wild Coffee</p>
        </div>
    </div>
    
{% endblock %}
