{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.selected) }}



    {%  if form.sites|length < 1  %}  {{ form_row(form.sites) }} {% endif %}

    {% for site in form.sites %}
        {%  set currentSite =  form.sites.vars.choices[site.vars.value].data %}
        {{ form_row(site ,  {'attr': {'checked': currentSite  in availablesSites }}  ) }}
    {% endfor  %}

    {%  if form.products | length < 1  %}  {{ form_row(form.products) }} {% endif %}

    {% for product in form.products %}
        {%  set currentProduct =  form.products.vars.choices[product.vars.value].data %}
        {{ form_row(product ,  {'attr': {'checked': currentProduct  in availablesProducts }}  ) }}
    {% endfor  %}


    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
