{{ form_start(form) }}
    <div class="row ">
        <div class="content-tags row" >
            <div class="content-color">
                <img src="{{ asset('/build/images/color_picker.png') }}" alt="color_picker">
                {{ form_widget(form.color, {'attr': {'class': 'tags-color tags-color-edit'} }) }}
            </div>
            <div class="show-color">
                <span class="input-color-edit"></span>
                {{ form_widget(form.name, {'attr': {'class': 'tags-input'} }) }}
            </div>
            <div>
                {{ form_widget(form.description, {'attr': {'class': 'tags-desc'} }) }}
            </div> 
        </div>
    </div>


    <section class="bloc table">

        <article class="bloc-produits ">
            <div class='title'>
                <h3>Affecté aux <span class="title-bold">produits</span> :</h3>
            </div>
            <table class="table-produits table-custome">
                <thead class="table-info thead-info">
                    <tr>
                        <th>Produits</th>
                        <th>Ajouter Produits : <button type="button" class="btn"><i class="fas fa-align-justify"></i>Produits</button></th>
                    </tr>
                </thead>
                <tbody class="tbody tbody-content scrollbar-table">
                    {% for product in form.products %}
                        <tr>
                            <td class="">
                                
                            </td>
                            <td>
                                {{ form_row(product, {'attr': {'class': ''} }) }}
                            </td>
                        </tr>            
                    {% endfor %}
                </tbody>
            </table>
        </article>

        <article class="bloc-media">
            <div class='title'>
                <h3>Affecté aux <span class="title-bold">médias</span> :</h3>
            </div>
            <table class="table-media table-custome">
                <thead class="table-info thead-info">
                    <tr>
                        <th>Médias</th>
                        <th>Ajouter médias : <button type="button" class="btn"> <i class="fas fa-folder-plus"></i>Médiathèque</button></th>
                    </tr>
                </thead>
                <tbody class="tbody tbody-content scrollbar-table" >
                    {# {% for site in form.sites %} #}
                        {# <tr>
                            <td class="">
                                
                            </td>
                            <td>
                                
                            </td>
                        </tr>             #}
                    {# {% endfor %} #}
                </tbody>
            </table>
        </article>

        <div class="bloc-site " >
            <div class='title'>
                <h3>Affecté aux <span class="title-bold">sites</span>: </h3>
            </div>
            <table class="table-site-custome table-custome">
                <thead class="table-info thead-info">
                    <tr>
                        <th>Site</th>
                        <th>Ajouter sites : <button type="button" class="btn btn-site"><i class="fas fa-align-justify"></i>Sites</button></th>
                    </tr>
                </thead>
                <tbody class="tbody tbody-content scrollbar-table">
                    {% for site in form.sites %}
                        {%  set currentSite = site.vars.data  %}
                        <tr class="tag__sites__site{% if currentSite not in tag.sites %} hidden{% endif %}">
                            <td >
                                {{ form_row(site, {'attr': {} }) }}
                            </td>
                            {# <td>
                                
                            </td> #}
                        </tr>            
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </section>


    <div class="btn-tag-enregistrer">
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    </div>

{{ form_end(form) }}


<article class="add-popup add-popup-site ">

    <div class="modal">

        <div class="header-modal">
            <div>
                <p class="upload-title"></p>
                <button type="button" class="btn btn-popupclose2 ">X</button>
            </div>
        </div>
        <div class="popup-site">
            {{ form_start( addSiteForm ) }}
            {# {{dump(addSiteForm)}} #}
            <table class="table-site-custome table-custome">
                <thead class="table-info thead-info">
                <tr>
                    <th>Site</th>

                </tr>
                </thead>
                <tbody class="tbody tbody-content scrollbar-table">
                {% for site in addSiteForm.sites %}
                    {%  set currentSite =  site.vars.data %}
                    <tr class="popup__add-site__site{% if currentSite in tag.sites %} hidden{% endif %}">
                        <td class="">
                            {{ form_row(site, {'attr': {
                                'checked' : currentSite in tag.sites ,
                                'id' : 'add_site_sites_tryrt' ~ site.vars.value
                            } }) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ form_end( addSiteForm ) }}
        </div>


    </div>
</article>