
{{ form_start(form) }}

    <div class="" >
        <div class="info-tags">
            <ul>
                <li><img src="{{ asset('/build/images/color_picker.png') }}" alt="color_picker"></li>
                <li>TAG créé</li>
                <li>Description</li>
            </ul>
        </div>
        <ul class="tags tags_list row " data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}" data-widget-tags="{{ '<li></li>'|e }}">
            {% for tag in form.tags %}
                <li>
                    <div>
                        <div>{{ form_widget(tag.color, {'attr': {'class': 'tags-color'} }) }}</div>
                        <div>{{ form_widget(tag.name, {'attr': {'class': 'tags-input'} }) }}</div>
                        <div>{{ form_widget(tag.description, {'attr': {'class': 'tags-desc'} }) }}</div>
                    </div>
                     
                </li>                         
            {% endfor %}
        </ul>
    </div>

    <div class="bloc-site">
    
        <div class="content-site">
            <div class="row">
                <h2 class="title-site">TAGS affectés au site : </h2> 
                <input type="search" class="search" id="site-search" name="q" aria-label="Search" placeholder="Rechercher un élément..." >
            </div>
        </div>

        <div class="table-site">
        <table >
             <thead>
                <tr>
                    <th>
                        <label class="container-input">
                            <input type="checkbox"> Site <i class="fas fa-angle-down"></i>
                            <span class="container-rdo"></span>
                        </label>
                    </th>
                    <th>Adresses <i class="fas fa-angle-down"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for site in form.sites %}
                {# {{dump(site)}} #}
                    <tr>
                        <td class="">
                            {# <label class="container-input">
                                <input type="checkbox"> Site <i class="fas fa-angle-down"></i>
                                <span class="container-rdo"></span>
                            </label> #}
                            {# {{ form_widget(site, {'attr': {'class': ''} }) }} #}
                            {{ form_row(site, {'attr': {'class': ''} }) }}
                        </td>
                        <td>
                            Adresses
                        </td>
                    </tr>            
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="btn-tag-enregistrer">
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    </div>
    
{{ form_end(form) }}
