{% extends 'base.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block body %}
 <main class="main main-tags">
        <div class="main-content">

            <section class="jumbotron">
            
                {% block settingtitle %}
                    {% include 'home/home-info.html.twig' with { 'pageTitle': 'Configuration', 'sousTitle': 'Tags', 'showSecondTitles': true } %}
                {% endblock %}

                <article class="wrapper">
                    <div class="wrapper-content">
                        <div class="nav-prev"><i class="fas fa-arrow-left"></i></div>
                        <ul class="tabs">
                            <a href="{{ path('app:enseigne') }}"><li class="{% if app.request.attributes.get('_route') == 'app:enseigne' %}  current {% endif %}" data-tab="setting-enseigne" data-tab-text="settings"> <p class="css-tab__label">Enseigne</p></li></a>
                            <a href="{{ path('users:view') }}"><li class="{% if app.request.attributes.get('_route') == 'users:view' %}  current {% endif %}" data-tab="setting-user" data-tab-text="settings"><p class="css-tab__label">Utilisateurs</p></li></a>
                            <a href="{{ path('criterions_lists_index') }}"><li class="{% if app.request.attributes.get('_route') == 'criterions_lists_index' %}  current {% endif %}" data-tab="setting-criteres" data-tab-text="settings"><p class="css-tab__label">Critères</p></li></a>
                            <a href="{{ path('tags_index') }}"><li class=" {% if app.request.attributes.get('_route') == 'tags_index' %}  current {% endif %}" data-tab="setting-tags" data-tab-text="settings"> <p class="css-tab__label">TAGS</p> </li></a>
                        </ul>
                        <div class="nav-next"><i class="fas fa-arrow-right"></i></div>
                    </div>
                </article>
                
            </section>

            {% block maincontent %}
                <section class="wrapper_tabcontent wrapper-tags">
                    <div id="setting-tags" class="tab-content current edit-tags">

                        <article class="tab-content-title">
                            <h3 class="title">Modifier TAG</h3>
                        </article>

                        <article class="display setting-display ">
                            <div class="display-content">
                                <div class="display-btn">
{#                                    <a href="{{ path('tags_new') }}"  class="btn" ><i class="fas fa-plus"></i>Créer TAG</a>#}
{#                                    <button type="button" class="btn duplicate-tag"><a href=""><i class="fas fa-plus"></i>Dupliquer</a></button>#}
{#                                    <button type="button" class="btn modified-tag"><i class="far fa-edit"></i>Modifier</button>#}
{#                                    <button type="button" class="btn delete-table" data-tablelistdelete="site"><i class="fas fa-trash"></i>Supprimer</button>#}
                                    {{ include('settings/tags/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </article>

                        <article class="content-edit-tags">
                            {{ include('settings/tags/_edit_form.html.twig', {'button_label': 'Update'}) }}
                        </article>
                        
                        {# {{ include('tags/_form.html.twig', {'button_label': 'Update'}) }}

                        <a href="{{ path('tags_index') }}">back to list</a>#}


                    </div>
                </section>
            {% endblock %}
                
        </div>
    </main>

    
{% endblock %}
