{% extends 'base.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('tags') }}
{% endblock %}

{% block body %}
    <main class="main main-tags">
        <div class="main-content">

            <section class="jumbotron">

                {% block settingtitle %}
                    {% include 'home/home-info.html.twig' with { 'pageTitle': 'Configuration', 'sousTitle': 'Tags', 'showSecondTitles': true } %}
                {% endblock %}

                <article class="wrapper">
                    <div class="wrapper-content">
                        <div class="nav-prev"><i class="fas fa-arrow-left"></i></div>
                        <ul class="tabs">
                            <a href="{{ path('app:enseigne') }}"><li class="{% if app.request.attributes.get('_route') == 'app:enseigne' %}  current {% endif %}" data-tab="setting-enseigne" data-tab-text="settings"> <p class="css-tab__label">Enseigne</p></li></a>
                            <a href="{{ path('users:view') }}"><li class="{% if app.request.attributes.get('_route') == 'users:view' %}  current {% endif %}" data-tab="setting-user" data-tab-text="settings"><p class="css-tab__label">Utilisateurs</p></li></a>
                            <a href="{{ path('tags_new') }}"><li class="{% if app.request.attributes.get('_route') == 'tags_new' %}  current {% endif %}" data-tab="setting-criteres" data-tab-text="settings"><p class="css-tab__label">Critères</p></li></a>
                            <a href="{{ path('tags_index') }}"><li class=" {% if app.request.attributes.get('_route') == 'tags_index' %}  current {% endif %}" data-tab="setting-tags" data-tab-text="settings"> <p class="css-tab__label">TAGS</p> </li></a>
                        </ul>
                        <div class="nav-next"><i class="fas fa-arrow-right"></i></div>
                    </div>
                </article>
                
            </section>

            {% block maincontent %}
                <section class="wrapper_tabcontent wrapper-tags">
                    <div id="setting-tags" class="tab-content current tags">

                        <article class="tab-content-title">
                            <h3 class="title">Gestion des TAGS</h3>
                            <p>SUPER WILD COFFEE</p>
                        </article>

                        {{ form_start( tagsActionForm)  }}
                        <article class="display setting-display ">
                            <div class="display-content">
                                <div class="display-btn">
{#                                    <button class="btn" >{{ button_label|default('Enregistrer') }}</button>#}
{#                                    <a href="{{ path('tags_new') }}"  class="btn" ><i class="fas fa-plus"></i>Créer TAG</a>#}
                                    <button type="button" class="btn duplicate-tag"><a href=""><i class="fas fa-plus"></i>Dupliquer</a></button>
{#                                    <button type="button" class="btn modified-tag"><i class="far fa-edit"></i>Modifier</button>#}
                                    {{ form_widget(tagsActionForm.edit, {
                                        'icon': 'far fa-edit',
                                        'label': 'Modifier',
                                        'attr':{'class': 'btn modified-tag' }
                                    }) }}
                                    {{ form_widget(tagsActionForm.delete, {
                                        'icon': 'fas fa-trash',
                                        'label': 'Supprimer',
                                        'attr':{'class': 'btn delete-tabl' }
                                    }) }}

                                </div>
                            </div>
                        </article>
                        <article class="content-tags table">
                            <table class="table-custome">
                                <thead class="table-info thead-info">
                                    <tr>
                                        <th>Critères</th>
                                        <th>Description du critère</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody tbody-content scrollbar-table">
                                  {% for tag in tagsActionForm.tags  %}
                                      {% set currentTag = tag.vars.data  %}
                                        <tr class="tags-poster" id="col-tag{{loop.index}}">
                                            <td>
                                                <label class="container-input">
                                                    {{ form_widget(tag, {'attr': {'class': 'chkbox-tag'}} ) }}
                                                    <span class="container-rdo-tags"></span>
                                                </label>
                                                <p class="container-tags">
                                                    <span class="mini-cercle" style="background: {{currentTag.color}};"></span>{{ currentTag.name }}
                                                    <button type="button" id="delete-tag{{loop.index}}" class="btn-delete-tag">x</button>
                                                </p>
                                            </td>
                                            <td class="container-tags-desc"><p class="cercle-desc">{{ currentTag.description }}<p></td>
                                        </tr>
                                 {% endfor %}


                                </tbody>
                            </table>
                        </article>

                        {{ form_end( tagsActionForm ) }}
                    </div>
                </section>
            {% endblock %}
                
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tags') }}
{% endblock javascripts %} 