{% extends 'base.html.twig' %}

{% block title %}Créer TAGS{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('criterion') }}
{% endblock %}

{% block body %}
    <main class="main main-tags">
        <div class="main-content">

            <section class="jumbotron">

                {% block settingtitle %}
                    {% include 'home/home-info.html.twig' with { 'pageTitle': 'Configuration', 'sousTitle': 'Créer TAGS', 'showSecondTitles': true } %}
                {% endblock %}

                {% block wrapper %}
                    {% include 'wrapper/wrapper-settings.html.twig'  %}
                {% endblock %}

            </section>

            {% block maincontent %}
                <section class="wrapper_tabcontent">
                    <div id="setting-tags" class="tab-content current create-tags">

                        <article class="tab-content-title">
                            <h3 class="title">Créer TAGS</h3>
                        </article>

                        <div class="content-tags">
                            <div class="bloc-create-tags" >
                                <div class='row'>
                                    <label>Nom : </label>
                                    <label type="text" id="tag_list_tags_name" name="" required="required" maxlength="255" class="tags-input" placeholder="PROMO">PROMO</label>
                                    <textarea id="tag_list_tags_description" name="" required="required" class="tags-desc" placeholder="Produits promotionnel du 21 mai"></textarea>
                                    <button type="button" class="btn" id="add_tag">Créer TAG</button>
                                </div>
                            </div>

                            {{ include('settings/tags/_form.html.twig') }}
                        </div>

                        {# <a href="{{ path('tags_index') }}">back to list</a> #}
                        
                    </div>   
                <section> 
            {% endblock %}
                
        </div>
    </main>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tags') }}
{% endblock javascripts %} 