{% extends 'base.html.twig' %}

{% block body %}
    <div class="debug">
        {{ form_start(form) }}
            {{ form_row(form.category) }}
            {{ form_row(form.priceType) }}
            {{ form_row(form.name) }}
            {{ form_row(form.amount) }}
            {{ form_row(form.description) }}
            {{ form_row(form.note) }}
            {{ form_row(form.start) }}
            {{ form_row(form.end) }}

            <div class="ManyToMany">
                {{ form_row(form.tags) }}
            </div>

            <div class="ManyToMany">
                {#{{ form_row(form.allergens) }} #}
                <div>
                    <label class="label-custome" for="allergens">Allergenes</label>
                    <select id="allergens" name="allergens[]" multiple="multiple">
                        {#{% for allergen in allergens %}
                            {% set selected = '' %}
                            {% if allergen in product_allergens %}
                                {% set selected = 'selected' %}
                            {% endif %}
                            <option value="{{ allergen.id }}" {{ selected }}>{{ allergen.name }}</option>
                        {% endfor %}#}
                    </select>+
                </div>
            </div>

            {{ form_row(form.logo) }}

            {#
            <div id="tags">
                <p>Tags</p>
                <div class="associated">
                    <p>associés</p>
                    <ul>
                        {% for tag in tags.all %}
                            <li>{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="interaction">
                    <img src="assets/ajout.png">
                    <img src="assets/retrait.png">
                </div>
                <div class="unassociated">
                    <p>non associés</p>
                    <ul>
                        <li>toto</li>
                        <li>toto</li>
                        <li>toto</li>
                        {% for tag in tags.all %}
                            <li>{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            #}

            {% if expected_change is defined %}
                <input type="hidden" name="expected_date" value="2020-05-10">
            {% endif %}
        {{ form_end(form) }}
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
        <script>
            // $('.ManyToMany select').select2();
        </script>
        {#{{ encore_entry_script_tags('edit_product') }}#}
    {% endblock javascripts %}
{% endblock %}