{% extends 'base.html.twig' %}

{% block title %} Produits {% endblock %}

 {% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('show_products') }}
{% endblock %}

{% block body %}
    <main class="main main_product">
        <div class="main-content">

            <section class="jumbotron">

                {% block settingtitle %}
                    {% include 'home/home-info.html.twig' with { 'pageTitle': 'PRODUITS', 'sousTitle': '', 'showSecondTitles': false } %}
                {% endblock %}

                {% block wrapper %}
                    {% include 'wrapper/wrapper_produits.html.twig'  %}
                {% endblock %}
                
            </section>

            <section class="wrapper_tabcontent">
                <div id="tab-products" class="tab-content current content-product">

                    <article class="tab-content-title">
                        <h3 class="title">Produits</h3>
                    </article>

                     {#<div class="display-columns">#}
                        {#<div class="display-content">#}
                            {#<button type="button" class="drop-btn" >Afficher des colonnes <div class="drop-btn-icone"><i class="fas fa-angle-down"></i></div></button>#}
                            {#<div class="display-down">#}
                                {#<div class="product-select-col">#}
                                    {#<label class="mutliselect-chkbox"> Tags optionnels#}
                                        {#<input type="checkbox"  checked name="satut"  data-satuts="status" value="">#}
                                        {#<span class="mutliselect-check"></span>#}
                                    {#</label>#}
                                {#</div>#}
                                {#<div class="product-select-col">#}
                                    {#<label class="mutliselect-chkbox"> Type de prix#}
                                        {#<input type="checkbox"  checked name="satut"  data-satuts="status" value="">#}
                                        {#<span class="mutliselect-check"></span>#}
                                    {#</label>#}
                                {#</div>#}
                                {#<div class="product-select-col">#}
                                    {#<label class="mutliselect-chkbox"> Prix Compagnie MEDIUM#}
                                        {#<input type="checkbox"  checked name="satut"  data-satuts="status" value="">#}
                                        {#<span class="mutliselect-check"></span>#}
                                    {#</label>#}
                                {#</div>#}
                                {#<div class="product-select-col">#}
                                    {#<label class="mutliselect-chkbox"> Prix Compagnie PREMIUM#}
                                        {#<input type="checkbox"  checked name="satut"  data-satuts="status" value="">#}
                                        {#<span class="mutliselect-check"></span>#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}

                    <article class="display setting-display ">
                        <div class="display-content">
                            <div class="display-btn">
                                <button type="button" class="btn" ><a href="{{ path('product::create') }}"><i class="fas fa-plus"></i>Ajouter</a></button>
                                <button type="button" class="btn" ><a id="edit" href="{{ path('product::edit', {'product': 1}) }}"><i class="far fa-edit"></i> Modifier</a></button>
                                {#<button><a id="duplicate" href="{{ path('product::duplicate', {'product': 1}) }}">Dupliquer</a></button>#}
                                <button type="button" class="btn" id="duplicate"><i class="fas fa-plus"></i>Dupliquer</button>
                                <button type="button" class="btn" id="delete"><i class="fas fa-trash"></i>Supprimer</button>
                            </div>
                        </div>
                    </article>


                    <select id="category">
                        <option>TOUTES</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>

                    <form method="post" action="{{ path('products::delete') }}" class="table">

                    

                        <table id="list" class="table-custome">
                            <thead class="thead-info">
                                <tr>
                                    <th>
                                        <label class="container-input">
                                            <input type="checkbox" name="" class="chkbox-tag" id="" data-tag="">
                                            <span class="container-rdo-tags"></span>
                                        </label>
                                    </th>
                                    <th>Diff.</th>
                                    <th>Nom</th>
                                    <th><i class="fas fa-pen"></i></th>
                                    <th>Form.</th>
                                    <th>Catégorie</th>
                                    <th>Description</th>
                                    <th>mention</th>
                                    <th>tags</th>
                                    <th>type de prix</th>
                                    <th>Allergènes</th>
                                    <th>Date de fin</th>
                                    <th>Visuel</th>
                                </tr>
                            </thead>
                            <tbody class="tbody tbody-content scrollbar-table">
                            {% for product in products %}
                                <tr>
                                    <td>
                                        <label class="container-input">
                                            <input type="checkbox" class="chkbox-produits" name="products[{{ product.id }}]">
                                            <span class="container-rdo-tags"></span>
                                        </label>
                                    </td>
                                    <td><i class="fas fa-spinner"></i></td>
                                    <td>{{ product.name }}</td>
                                    <td><i class="fas fa-pen"></i></td>
                                    <td>{{ product.amount }}</td>
                                    <td>{{ product.category.name }}</td>
                                    <td>{{ product.description }}</td>
                                    <td>{{ product.note }}</td>
                                    <td class="tag">
                                        {% for tag in product.tags %}
                                        <p class="container-tags">
                                            <span class="mini-cercle" style="background: {{tag.color}};"></span>{{ tag.name }} 
                                        </p>
                                        {% endfor %}
                                    </td>
                                    <td>{{ product.priceType.name }}</td>
                                    <td class="tag">
                                        {% for allergen in product.allergens %}
                                            {# <span>{{ allergen.name }}</span> #}
                                            <img src="/pictogram/{{ allergen.pictogram }}" alt"" class="image-td">
                                        {% endfor %}
                                    </td>
                                    {# <td>{{ product.start |date('Y-m-d') }}</td> #}
                                    <td>{{ product.end |date('d-m-Y') }}</td>
                                    <td><i class="fas fa-eye"></i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </section>

            <article class="add-popup add-popup2 upload_popup">

                <div class="modal">

                    <div class="header-modal">
                        <div>
                            <p class="upload-title"></p>
                            <button type="button" class="btn btn-popupclose2 ">X</button>
                        </div>
                    </div>

                    <div id="popup_properties" >
        <h1>Sélectionnez les éléments du produit à conserver</h1>
        <form action="{{ path('product::duplicate', {'product': 3}) }}" method="post">
            <table class="center">
                <tr>
                    <td><input type="checkbox" name="product[category]"></td>
                    <td>Catégorie</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="product[priceType]"></td>
                    <td>Type de prix</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="product[amount]"></td>
                    <td>Quantié</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="product[description]"></td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="product[note]">
                    </td><td>Mention</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="product[start]"></td>
                    <td>Début de validité</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="product[end]"></td>
                    <td>Fin de validité</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="product[tags]"></td>
                    <td>Tags</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="product[allergens]"></td>
                    <td>Allergènes</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="product[logo]"></td>
                    <td>Logo</td>
                </tr>
            </table>
            <button id="properties_validate" type="submit">Valider</button>
        </form>
    </div>

                </div>
            </article>



        </div>    
    <main>
    

    

    

    {% block javascripts %}
        {{ encore_entry_script_tags('show_products') }}
    {% endblock javascripts %}

{% endblock %}