{% extends 'base.html.twig' %}

{% block title %} Produits {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('show_products') }}
{% endblock %}

{% block body %}
    <main class="main main_product">
        <div class="main-content">

            <section class="jumbotron">

                {% block settingtitle %}
                    {% include 'home/home-info.html.twig' with { 'pageTitle': 'PRODUITS', 'sousTitle': '', 'showSecondTitles': false } %}
                {% endblock %}

                {% block wrapper %}
                    {% include 'wrapper/wrapper_produits.html.twig'  %}
                {% endblock %}
                
            </section>



            <section class="popup-confirmation">

                <article class="add-popup add_popup_confirmation_delete">
                    <div class="modal">
                        <div class="header-modal">
                            <p class="upload-title">Configuration de la suppression</p>
                            <button type="button" class=" btn-close close_popup_confirmation_delete"><i class="fas fa-window-close"></i></button>
                        </div>
                        <div class="content-modal" >
                            <p>Etes-vous sûr de vouloir supprimer cet élément ?</p>
                            <div class="selected-name-list" >
                            </div>
                        </div>
                        <div class="footer-modal">
                            <button type="button" class="btn" id="delete">OUI</button>
                            <button type="button" class="btn close_popup_confirmation_delete">NON</button>
                        </div>
                    </div>
                </article>

                <article class="add-popup add_popup_confirmation_edit">
                    <div class="modal">
                        <div class="header-modal">
                            <p class="upload-title">modification</p>
                            <button type="button" class="btn-close close_popup_confirmation_edit"><i class="fas fa-window-close"></i></button>
                        </div>
                        <div class="content-modal" >
                            <p>voulez vous modifier ?</p>
                            <div class="selected-name-list" >
                            </div>
                        </div>
                        <div class="footer-modal">
                            <button type="button" class="btn" ><a id="edit" href="{{ path('product::edit', {'product': 1}) }}"><i class="far fa-edit"></i>OUI</a></button>
                            <button type="button" class="btn close_popup_confirmation_edit">NON</button>
                        </div>
                    </div>
                </article>

                <article class="add-popup upload_popup popup_product_duplicate">

                    <div class="modal">
                        <div class="header-modal">
                            <p class="upload-title">Duliquer</p>
                            <button type="button" class="btn-close btn popup_product_duplicate_close "><i class="fas fa-window-close"></i></button>
                        </div>

                        <form action="{{ path('product::duplicate', {'product': 3}) }}" id="form_duplicate_product" method="post">
                            <div class="content-modal">
                                <div class="selected-name-list"></div>
                                <div id="popup_properties" >

                                    <h2>Sélectionnez les éléments du produit à conserver</h2>
                                    <table class="center">
                                        <tr>
                                            <td><input type="checkbox" name="product[category]"></td>
                                            <td>Catégorie</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="product[priceType]"></td>
                                            <td>Type de prix</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="product[amount]"></td>
                                            <td>Quantié</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="product[description]"></td>
                                            <td>Description</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="product[note]">
                                            </td><td>Mention</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="product[start]"></td>
                                            <td>Début de validité</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="product[end]"></td>
                                            <td>Fin de validité</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="product[tags]"></td>
                                            <td>Tags</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="product[allergens]"></td>
                                            <td>Allergènes</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" name="product[logo]"></td>
                                            <td>Logo</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="footer-modal">
                                <button type="submit" id="properties_validate" class="btn" >Valider</button>
                                <button type="submit" class="btn popup_product_duplicate_close" >Annuler</button>
                            </div>

                        </form>
                    </div>

                </article>
            </section>

        </div>    
    <main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('show_products') }}
{% endblock javascripts %}