<div class="form-content">
    {{ form_start(form) }}

        <div class="row">
            <div class="row">
                {{ form_label(form.name, 'Nom de la liste :',  {'label_attr': {'class': 'form-label'}} )  }}
                {{ form_widget(form.name, {'attr': {'class': 'input-custome', ' placeholder' : 'Religieux',}}) }}
            </div>
            <div class="row ">
                {{ form_label(form.description, 'description de la liste :',  {'label_attr': {'class': 'form-label'}} )  }}
                {{ form_widget(form.description, {'attr': {'class': 'input-custome',' placeholder' : 'Type de produits par conviction religieuse'} } ) }}
            </div>
        </div>
    
        <div class="row row-multiple">
            {{ form_label(form.multiple, 'Pour les sites, Affectaion à choix :',  {'label_attr': {'class': 'form-label'}} )  }}
            {{ form_widget(form.multiple, {'attr': {'class': 'input-custome'}}) }}
        </div>

        <div class="content-criteres">
            <div class="title">
                <p>Critères<p>
            </div>
            
             <div class="content-criteres-bloc">
                <ul class="tags criterion_list" data-prototype="{{ form_widget(form.criterions.vars.prototype)|e('html_attr') }}" data-widget-tags="{{ '<li class="row-criteres"></li>'|e }}">
                    {% for criterion in form.criterions  %}   
                    <li class="row-criteres " >
                        <div id="criterions_list_criterions_0">
                            <div class="selected">
                                {{ form_label(criterion.selected   ) }}
                                {{ form_widget(criterion.selected ) }}
                                {# <label class="container-input">
                                    {{ form_widget(criterion.selected, {'attr': {'checked': 'true'}}) }}
                                    <span class="container-rdo"></span>
                                </label> #}
                                
                            </div>
                            <div>
                                {{ form_widget(criterion.name, {'attr': {'class': 'input-custome',' placeholder' : ' '}})  }}
                            </div>
                            <div class="form-desc">
                                {{ form_widget(criterion.description, {'attr': {'class': 'input-custome-desc',' placeholder' : 'Type de produits par conviction religieuse'}}) }}
                            </div>
                            <div>
                                <button type="button" id="0" class="btn delete-row">X</button>
                            </div>
                        </div>    
                    </li>
                {% endfor %}

                </ul>
               
            </div>  

            <div class="btn-add">
                <button type="button" class="btn btn-add-critiere" id="add_criterion">Ajouter un critère</button>
            </div>
        </div>
    
        <div class="btn-save">
            <button class="btn btn-create-critions" type="submit" >{{ button_label|default('Enregister la liste') }}</button>
        </div>

    {{ form_end(form) }}
</div>



