{% block title %}Gestion des Critéres{% endblock %}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('criterion') }}
{% endblock %}

{% block body %}
    <main class="main main_setting">
        <div class="main-content">

            <section class="jumbotron">

                {% block settingtitle %}
                    {% include 'home/home-info.html.twig' with { 'pageTitle': 'Configuration', 'sousTitle': 'Critères', 'showSecondTitles': true } %}
                {% endblock %}

                {% block wrapper %}
                    {% include 'wrapper/wrapper-settings.html.twig'  %}
                {% endblock %}
                
            </section>

            <section>

                {% block maincontent %}
                    <section class="wrapper_tabcontent">
                        <div id="setting-criteres" class="tab-content current tab-content-criteres">

                            <article class="tab-content-title">
                                <h3 class="title">Gestion des Critéres</h3>
                                <p>SUPER WILD COFFEE</p>
                            </article>


                            <article class="display setting-display ">
                                <div class="display-content">
                                    <div class="display-btn">
                                        <a href="{{ path('criterions_lists_new') }}"  class="btn" ><i class="fas fa-plus"></i>Créer Critère</a>
                                        <button type="button" class="btn duplicate-table"><a href=""><i class="fas fa-plus"></i>Dupliquer</a></button>
                                        <button type="button" class="btn modified-criterion"><i class="far fa-edit"></i>Modifier</button>
                                        <button type="button" class="btn delete-table" data-tablelistdelete="site"><i class="fas fa-trash"></i>Supprimer</button>
                                    </div>
                                </div>
                            </article>

                            <article class="content-criteres"> 
                                <ul>
                                    {%  for criterions_list in criterions_lists  %}
                                        <li class="row-criterion">
                                           {{ include('settings/criterions_lists/_criterions_list.html.twig') }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            <article>

                        <div>
                    <section>
                {% endblock %}
                
            </section>

        </div>
    </main>
{% endblock %}


{% block javascripts %}

    {{ encore_entry_script_tags('criterion') }}
{% endblock javascripts %}

