<article class="associate_product-popup association-popup hidden">
    <div class="modal">
        <div class="modal-header">
            <div class="modal-title-container">
                <p class="title">Associer des produits au média : <span class="media_name"></span></p>
            </div>
            <div class="close-modal-container">
                <button type="button" class="btn close">X</button>
            </div>
        </div>

        <div class="modal-body">

            <div class="body-top">
                <div class="filter-left filter-by-category">
                    <select class="product-category-choice">
                        <option value="">Tout afficher</option>
                        {% for categorie in categories %}
                            <option value="{{ categorie.id }}">{{ categorie.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="filter-right filter-by-field">
                    <input type="search" name="search[product]" placeholder="Rechercher un élément..." required>
                </div>
            </div>

            <div class="body-middle">

                <section class="product-choice-list-container">

                    <table>
                        <thead>
                        <tr>
                            <th><input type="checkbox" class="select_all_products"></th>
                            <th>Nom du produit</th>
                            <th>Description</th>
                            <th>TAGS</th>
                        </tr>
                        </thead>

                        <tbody class="product-choice-list">
                        {% for product in products %}
                            <tr data-product_id="{{ product.id }}" data-category="{{ product.category.id }}" data-product_criterions="{{ productsCriterions[product.id] | join(', ') }}">
                                <td><input type="checkbox" class="choice_product" data-product_name="{{ product.name }}"></td>
                                <td class="product_name">{{ product.name }}</td>
                                <td>{{ product.description }}</td>
                                <td>
                                    {% for tag in product.tags %}
                                        <span>{{ tag.name }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </section>

                <section class="product-associated-list-container">

                    <table>

                        <thead>
                        <tr>
                            <th>Produits à associer</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody class="product-associated-list">

                        </tbody>

                    </table>

                </section>

            </div>

            <div class="body-bottom">

                <div class="cancel-btn-container">
                    <button type="button" class="cancel close">Annuler</button>
                </div>

                <div class="validation-btn-container">
                    <button type="button" class="validation-btn">Valider</button>
                </div>

            </div>

        </div>

    </div>
</article>