{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('create-user') }}
{% endblock %}

{% block body %}
    <main class="main main-tags">
        <div class="main-content">

            <section class="jumbotron">

                {% block settingtitle %}
                    {% include 'home/home-info.html.twig' with { 'pageTitle': 'Configuration', 'sousTitle': 'Utilisateur', 'showSecondTitles': true } %}
                {% endblock %}

                {% block wrapper %}
                    {% include 'wrapper/wrapper_settings.html.twig' %}
                {% endblock %}

            </section>

            <section class="wrapper_tabcontent">
                <div id="setting-user" class=" tab-create tab-create-user current">

                    <article >
                        <div class="tab-content-title">
                            <h3 class="title">Créer un Utilisateur</h3>
                        </div>
                    </article>

                    <article class="create-user_container">

                        <form action="{{ path('users::create::process') }}" method="post" name="user" id="create-user">

                            <div class="create-user_title">
                                <h3 class="">Identité</h3>
                            </div>

                            <div class="form-content">

                                <div class="row">
                                    <div class="row">
                                        <label class="form-label" for="fristname">Nom</label>
                                        <input type="text" name="user[fristname]"  placeholder="Nom" class="input-custome" required/>
                                    </div>
                                    <div class="row">
                                        <label class="form-label">Prenom</label>
                                        <input type="text"  name="user[lastname]"   placeholder="Prenom" class="input-custome" required/>
                                    </div>
                                </div>

                                <div class="row col-email">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="email" name="user[email]" id="email" placeholder="Email" class="input-custome"  required/>
                                </div>
                                <div class="row col-phone">
                                    <label class="form-label" for="phone">Téléphone</label>
                                    <input type="tel" name="user[phone]" placeholder="Numero de téléphone" class="input-custome" />
                                </div>

                            </div>
                            <p class="message-error"></p>

                            <div class="form-content form-content-chkbox">
                                <div class="row">
                                    <label class="form-label" for="phone">Périmètres :</label>
                                    <div class="row row-chkbox">
                                        {#            {{ dump(givablePerimeters) }}#}
                                        {% if givablePerimeters is defined and givablePerimeters is iterable %}
                                            {% for  perimeter in givablePerimeters %}
                                                {% if perimeter.name is defined and perimeter.level is defined %}
                                                    <label class="container-chkbox">{{ perimeter.name }}
                                                        <input type="radio" name="user[perimeter]" value="{{ perimeter.id }}">
                                                        <span class="checkmark-chkbox"></span>
                                                    </label>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                </div>
                            </div>

                            <div class="form-content-table">
                                <div class="content-table-left">
                                    <p class="table-titel">Enseigne</p>
                                    <div class="table">
                                        <table class="table-custome row-chkbox" >
                                            <thead  class="table-info thead-content ">
                                            <tr>
                                                <th>
                                                    <label class="container-chkbox">Tous
                                                        <input type="checkbox" name="selectenseigne" value="tous" id="selectAll" >
                                                        <span class="checkmark-chkbox"></span>
                                                    </label>
                                                </th>
                                                <th>Role</th>
                                                <th>Affichies sites</th>
                                            </tr>
                                            </thead>
                                            <tbody class="tbody tbody-content scrollbar-table">

                                            {% if givableRoles is defined and  givableRoles is iterable %}
                                                {% for givableRoleInfosByCustomer in givableRoles %}

                                                    {% set  givableRolesCustomer  = givableRoleInfosByCustomer ['customer'] %}
                                                    {% set  givableRoles  = givableRoleInfosByCustomer ['roles'] %}

                                                    {% if  givableRolesCustomer.name is defined  and givableRolesCustomer.id is defined  %}
                                                        <tr class="input1">
                                                            <td>
                                                                <label class="container-chkbox">{{ givableRolesCustomer.name }}
                                                                    <input type="checkbox" name="showenseignesites[]"  class="input1" value={{ givableRolesCustomer.id }}>
                                                                    <span class="checkmark-chkbox"></span>
                                                                </label>
                                                            </td>
                                                            <td >
                                                                <div class="select" >
                                                                    <select class="select-list" name={{"user[roles][enseigne][" ~ givableRolesCustomer.id ~ "]"  }}>
                                                                        <option>Choisir rôle </option>
                                                                        {% if givableRoles is defined and  givableRoles  is iterable %}

                                                                            {% for givableRole in givableRoles  %}
                                                                                {% if  givableRole.name is defined and  givableRole.id is defined  %}
                                                                                    <option value={{ givableRole.id }} >{{ givableRole.name }}</option>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif  %}
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <button class="btn-display-teach" type="button">voir</button>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif  %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div  class="content-table-right">
                                    <p class="table-titel">Site</p>

                                    {#            {{ dump(givableSites) }}#}
                                    <div class="table">
                                        <table class="table-custome row-chkbox" >
                                            <thead  class="table-info thead-content">
                                            <tr>
                                                <th>
                                                    <label class="container-chkbox">Tous
                                                        <input type="radio" name="select-site" class="selectAll" >
                                                        <span class="checkmark-chkbox"></span>
                                                    </label>
                                                <th>Identifiants</th>
                                                <th>Adresse</th>
                                            </tr>
                                            </thead>
                                            <div class="div-tbody">

                                                <tbody class="tbody tbody-content scrollbar-table">
                                                {%  if  givableSites is defined and givableSites is iterable %}
                                                    {% for customer in  givableSites %}
                                                        {% if customer.id is defined and customer.sites is defined and customer.sites is iterable %}
                                                            {% for  site in customer.sites %}

                                                                {% if site.id is defined and site.name is defined and site.adress is defined  %}
                                                                    <tr>
                                                                        <td>
                                                                            <label class="container-chkbox">{{site.name}}
                                                                                <input type="checkbox" name={{  "user[sites][enseigne][" ~  customer.id  ~ "][]" }} value="{{ site.id }}">
                                                                                {#                                              <input type="number" name="selected-site" value="{{ site.id }}">#}
                                                                                <span class="checkmark-chkbox"></span>
                                                                            </label>
                                                                        </td>
                                                                        <td>Bobigny</td>
                                                                        <td>{{site.adress}} </td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor  %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>

                                            </div>
                                        </table>
                                    </div>


                                    <div class="form-content-btn">
                                        <button name="btn-user-valide" class="btn btn-user-valide">Valide</button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </article>

                </div>

            </section>

        </div>
    </main>
{% endblock %}


