{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('create-user') }}
{% endblock %}

{% block body %}
    <main class="main main-tags">
        <div class="main-content">

            <section class="jumbotron">

                {% block settingtitle %}
                    {% include 'home/home-info.html.twig' with { 'pageTitle': 'Configuration', 'sousTitle': 'Créer TAGS', 'showSecondTitles': true } %}
                {% endblock %}

                {% block wrapper %}
                    {% include 'wrapper/wrapper_settings.html.twig'  %}
                {% endblock %}

            </section>

            <section class="wrapper_tabcontent">
            
                <article id="setting-user" class=" tab-create tab-create-user current">
            
                <div class="tab-content-title">
                    <h3 class="title">Créer un Utilisateur</h3>
                </div>


        {# <form action="{{ path('user:createUser') }}" method="post" name="user"> #}
        <form action="{{ path('users::create::process') }}" method="post" name="user" id="create-user">

            <article class="display setting-display ">
                <div class="display-content">
                    <div class="display-btn">
                        {# <button type="button" class="btn add-table"><i class="fas fa-plus"></i>Créer</button>
                        <button type="button" class="btn duplicate-table"><a href=""><i class="fas fa-plus"></i>Dupliquer</a></button>
                        <button type="button" class="btn modified-table"><i class="far fa-edit"></i>Modifier</button>
                        <button type="button" class="btn delete-table" data-tablelistdelete="site"><i class="fas fa-trash"></i>Supprimer</button> #}
                    </div>
                </div>
            </article >


            <div class="form-content">

                <div class="row">
                    <div class="row">
                        <label class="form-label" for="fristname">Nom</label>
                        <input type="text" name="user[fristname]"  placeholder="Nom" class="input-custome" required/>
                    </div>
                    <div class="row">
                        <label class="form-label">Prenom</label>
                        <input type="text"  name="user[lastname]"   placeholder="Prenom" class="input-custome" required/>
                    </div>
                </div>

                <div class="row col-email">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" name="user[email]" id="email" placeholder="Email" class="input-custome"  required/>
                </div>
                <div class="row col-phone">
                    <label class="form-label" for="phone">Téléphone</label>
                    <input type="tel" name="user[phone]" placeholder="Numero de téléphone" class="input-custome" />
                </div>

            </div>
            <p class="message-error"></p>

            <div class="form-content form-content-chkbox">
                <div class="row">
                    <label class="form-label" for="phone">Périmètres :</label>
                    <div class="row row-chkbox">
                        {#            {{ dump(givablePerimeters) }}#}
                        {% if givablePerimeters is defined and givablePerimeters is iterable %}
                            {% for  perimeter in givablePerimeters %}
                                {% if perimeter.name is defined and perimeter.level is defined %}
                                    <label class="container-chkbox">{{ perimeter.name }}
                                        <input type="radio" name="user[perimeter]" value="{{ perimeter.id }}">
                                        <span class="checkmark-chkbox"></span>
                                    </label>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>

                    {#            <div class="row row-chkbox">#}
                    {#                <label class="container-chkbox">Infoway#}
                    {#                    <input type="radio" name="Perimeters" value"infoway">#}
                    {#                    <span class="checkmark-chkbox"></span>#}
                    {#                </label>#}
                    {#                <label class="container-chkbox">Multi-Enseigne#}
                    {#                    <input type="radio" name="Perimeters" value="multi enseigne" >#}
                    {#                    <span class="checkmark-chkbox"></span>#}
                    {#                </label>#}
                    {#                <label class="container-chkbox">Enseigne#}
                    {#                    <input type="radio" name="Perimeters"  value="enseigne" >#}
                    {#                    <span class="checkmark-chkbox"></span>#}
                    {#                </label>#}
                    {#                <label class="container-chkbox">Multi-Site#}
                    {#                    <input type="radio" name="Perimeters"  value="multi site" >#}
                    {#                    <span class="checkmark-chkbox"></span>#}
                    {#                </label>#}
                    {#                <label class="container-chkbox">Local#}
                    {#                    <input type="radio" name="Perimeters"  value="local" >#}
                    {#                    <span class="checkmark-chkbox"></span>#}
                    {#                </label>#}

                    {#            </div>#}
                </div>
            </div>

            <div class="form-content-table">
                <div class="content-table-left">
                    <p class="table-titel">Enseigne</p>
                    <div class="table">
                        <table class="table-custome row-chkbox" >
                            <thead  class="table-info thead-content ">
                            <tr>
                                <th>
                                    <label class="container-chkbox">Tous
                                        <input type="checkbox" name="selectenseigne" value="tous" id="selectAll" >
                                        <span class="checkmark-chkbox"></span>
                                    </label>
                                </th>
                                <th>Role</th>
                                <th>Affichies sites</th>
                            </tr>
                            </thead>
                            <tbody class="tbody tbody-content scrollbar-table">

                            {% if givableRoles is defined and  givableRoles is iterable %}
                                {% for givableRoleInfosByCustomer in givableRoles %}

                                    {% set  givableRolesCustomer  = givableRoleInfosByCustomer ['customer'] %}
                                    {% set  givableRoles  = givableRoleInfosByCustomer ['roles'] %}

                                    {% if  givableRolesCustomer.name is defined  and givableRolesCustomer.id is defined  %}
                                        <tr class="input1">
                                            <td>
                                                <label class="container-chkbox">{{ givableRolesCustomer.name }}
                                                    <input type="checkbox" name="showenseignesites[]"  class="input1" value={{ givableRolesCustomer.id }}>
                                                    <span class="checkmark-chkbox"></span>
                                                </label>
                                            </td>
                                            <td >
                                                <div class="select" >
                                                    <select class="select-list" name={{"user[roles][enseigne][" ~ givableRolesCustomer.id ~ "]"  }}>
                                                        <option>Choisir rôle </option>
                                                        {% if givableRoles is defined and  givableRoles  is iterable %}

                                                            {% for givableRole in givableRoles  %}
                                                                {% if  givableRole.name is defined and  givableRole.id is defined  %}
                                                                    <option value={{ givableRole.id }} >{{ givableRole.name }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif  %}
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn-display-teach" type="button">voir</button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif  %}
                            {#                    <tr class="input1">#}
                            {#                        <td>#}
                            {#                            <label class="container-chkbox">Burger King#}
                            {#                                <input type="checkbox" name="selectenseigne"  class="input1" value="burger king">#}
                            {#                                <span class="checkmark-chkbox"></span>#}
                            {#                            </label>#}
                            {#                        </td>#}
                            {#                        <td >#}
                            {#                            <div class="select" >#}
                            {#                                <select class="select-list" name="selectrole">#}
                            {#                                    <option>Choisir rôle </option>#}
                            {#                                    <option value="admin">Admin</option>#}
                            {#                                    <option value="siege">Siege</option>#}
                            {#                                    <option value="directeur">Directeur</option>#}
                            {#                                    <option value="manager">Manager</option>#}
                            {#                                </select>#}
                            {#                            </div>#}
                            {#                        </td>#}
                            {#                        <td>#}
                            {#                            <button class="btn-display-teach" type="button">voir</button>#}
                            {#                        </td>#}
                            {#                    </tr>#}
                            {#                    <tr>#}
                            {#                        <td>#}
                            {#                            <label class="container-chkbox">KFC#}
                            {#                                <input type="checkbox" name="selectenseigne" value="kfc" >#}
                            {#                                <span class="checkmark-chkbox"></span>#}
                            {#                            </label>#}
                            {#                        </td>#}
                            {#                        <td>#}
                            {#                            <div class="select" >#}
                            {#                                <select class="select-list">#}
                            {#                                    <option>Choisir rôle </option>#}
                            {#                                    <option value="admin">Admin</option>#}
                            {#                                    <option value="siege">Siege</option>#}
                            {#                                    <option value="directeur">Directeur</option>#}
                            {#                                    <option value="manager">Manager</option>#}
                            {#                                </select>#}
                            {#                            </div>#}
                            {#                        </td>#}
                            {#                        <td> <button class="btn-display-teach" type="button">voir</button></td>#}
                            {#                    </tr>#}
                            {#                    <tr>#}
                            {#                        <td>#}
                            {#                            <label class="container-chkbox">Quick#}
                            {#                                <input type="checkbox" name="selectenseigne" value="quick" >#}
                            {#                                <span class="checkmark-chkbox"></span>#}
                            {#                            </label>#}
                            {#                        </td>#}
                            {#                        <td>#}
                            {#                            <div class="select" >#}
                            {#                                <select class="select-list">#}
                            {#                                    <option>Choisir rôle </option>#}
                            {#                                    <option value="admin">Admin</option>#}
                            {#                                    <option value="siege">Siege</option>#}
                            {#                                    <option value="directeur">Directeur</option>#}
                            {#                                    <option value="manager">Manager</option>#}
                            {#                                </select>#}
                            {#                            </div>#}
                            {#                        </td>#}
                            {#                        <td> <button class="btn-display-teach" type="button">voir</button></td>#}
                            {#                    </tr>#}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div  class="content-table-right">
                    <p class="table-titel">Site</p>

                    {#            {{ dump(givableSites) }}#}
                    <div class="table">
                        <table class="table-custome row-chkbox" >
                            <thead  class="table-info thead-content">
                            <tr>
                                <th>
                                    <label class="container-chkbox">Tous
                                        <input type="radio" name="select-site" class="selectAll" >
                                        <span class="checkmark-chkbox"></span>
                                    </label>
                                <th>Identifiants</th>
                                <th>Adresse</th>
                            </tr>
                            </thead>
                            <div class="div-tbody">

                                <tbody class="tbody tbody-content scrollbar-table">
                                {%  if  givableSites is defined and givableSites is iterable %}
                                    {% for customer in  givableSites %}
                                        {% if customer.id is defined and customer.sites is defined and customer.sites is iterable %}
                                            {% for  site in customer.sites %}

                                                {% if site.id is defined and site.name is defined and site.adress is defined  %}
                                                    <tr>
                                                        <td>
                                                            <label class="container-chkbox">{{site.name}}
                                                                <input type="checkbox" name={{  "user[sites][enseigne][" ~  customer.id  ~ "][]" }} value="{{ site.id }}">
                                                                {#                                              <input type="number" name="selected-site" value="{{ site.id }}">#}
                                                                <span class="checkmark-chkbox"></span>
                                                            </label>
                                                        </td>
                                                        <td>Bobigny</td>
                                                        <td>{{site.adress}} </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor  %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>

                            </div>
                        </table>
                    </div>
                    {#            <div class="table">#}
                    {#                <table class="table-custome row-chkbox" >#}
                    {#                    <thead  class="table-info thead-content">#}
                    {#                    <tr>#}
                    {#                        <th>#}
                    {#                            <label class="container-chkbox">Tous#}
                    {#                                <input type="radio" name="select-site" class="selectAll" >#}
                    {#                                <span class="checkmark-chkbox"></span>#}
                    {#                            </label>#}
                    {#                        <th>Identifiants</th>#}
                    {#                        <th>Adresse</th>#}
                    {#                    </tr>#}
                    {#                    </thead>#}
                    {#                    <div class="div-tbody">#}

                    {#                        <tbody class="tbody tbody-content scrollbar-table">#}
                    {#                        <tr>#}
                    {#                            <td>#}
                    {#                                <label class="container-chkbox">AnseVata#}
                    {#                                    <input type="radio" name="select-site"  >#}
                    {#                                    <span class="checkmark-chkbox"></span>#}
                    {#                                </label>#}
                    {#                            </td>#}
                    {#                            <td>Bobigny</td>#}
                    {#                            <td>25 rue st charles 06000 AMIENS  </td>#}
                    {#                        </tr>#}
                    {#                        <tr>#}
                    {#                            <td>#}
                    {#                                <label class="container-chkbox">AnseVata#}
                    {#                                    <input type="radio" name="select-site"  >#}
                    {#                                    <span class="checkmark-chkbox"></span>#}
                    {#                                </label>#}
                    {#                            </td>#}
                    {#                            <td>Bobigny</td>#}
                    {#                            <td>25 rue st charles 06000 AMIENS  </td>#}
                    {#                        </tr>#}
                    {#                        <tr>#}
                    {#                            <td>#}
                    {#                                <label class="container-chkbox">AnseVata#}
                    {#                                    <input type="radio" name="select-site"  >#}
                    {#                                    <span class="checkmark-chkbox"></span>#}
                    {#                                </label>#}
                    {#                            </td>#}
                    {#                            <td>Bobigny</td>#}
                    {#                            <td>25 rue st charles 06000 AMIENS  </td>#}
                    {#                        </tr>#}
                    {#                        </tbody>#}

                    {#                    </div>#}
                    {#                </table>#}
                    {#            </div>#}
                    {#        </div>#}

                    {#    </div>#}

                    <div class="form-content-btn">
                        <button name="btn-user-valide" class="btn btn-user-valide">Valide</button>
                    </div>


        </form>
    </article>

            </section>

            
           
                
        </div>
    </main>
{% endblock %}


