{% extends "base.html.twig" %}


{% block body %}

    <div style="margin-left: 15%">

        <h1 id="profile" data-user="{{ user.id }}">Profile : {{ user.username }}</h1>

        <div id="result" style="display: none;">

        </div>

        <div id="permissions">

            {% if rolePermissions | length > 0 %}

            <table style="text-align: center">

                <thead>
                    <tr>
                        <th>{{ user.username }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for feature in rolePermissions %}
                        <tr>
                            <td>{{ feature['name'] }}</td>
                        </tr>
                        {% for permission in feature['permissions'] %}
                            <tr style="border: 1px solid #000">
                                <td data-id="{{ permission['id'] }}">{{ permission['name'] }}</td>
                                <td>
                                    <input type="checkbox" class="permission" data-permission_name="{{ permission['name'] }}" data-permission_id="{{ permission['id'] }}" {% if userPermissions | length > 0 and permission['id'] in userPermissions['permissions'] %} checked {% endif %}>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>

            </table>

            <button id="updatePermissionsButton">Valider</button>

            {% else %}

                <h1>Aucune permissions !</h1>

            {% endif %}

        </div>

        <a style="color: black !important;" href="{{ path('user::showAllUsers') }}">&leftarrow; Retour</a>

    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('permission') }}
{% endblock javascripts %}

