{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_register') }}
    {{ encore_entry_link_tags('back-office_create-customer') }}
{% endblock %}

{% block body %}

    <div id="card_container">
        <div id="card">

            {% for message in app.session.flashbag.get('message') %}
                <div>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}

            {{ form_start(form) }}

                <div id="title">
                    <h1>{{ title }}</h1>
                </div>

                {{ form_row(form.name, { 'disabled': ( app.request.get('_route') is same as('admin_user::show')  ) ? true : false }) }}
                {{ form_row(form.email, { 'disabled': ( app.request.get('_route') is same as('admin_user::show')  ) ? true : false }) }}
                {{ form_row(form.phone_number, { 'disabled': ( app.request.get('_route') is same as('admin_user::show')  ) ? true : false }) }}
                {{ form_row(form.login, { 'disabled': ( app.request.get('_route') is same as('admin_user::show')  ) ? true : false }) }}

                {{ form_row(form.password, { 'disabled': ( app.request.get('_route') is same as('admin_user::show')  ) ? true : false }) }}


                <div>
                    <label for="user_registration_site">Site</label>
                    <select name="user_registration_form[site]" id="user_registration_site" class="input-group"
                            {% if ( (app.request.get('_route') is same as('admin_site::addSalary')) or (app.request.get('_route') is same as('admin_user::show')) ) %}
                                disabled="disabled"
                            {% endif %} required="required">

                        {% for site in sites %}
                            <option value="{{ site.id }}">{{ site.name }}</option>
                        {% endfor %}

                    </select>
                </div>

                {{ form_row(form.customer, { 'disabled': ( (app.request.get('_route') is same as('admin_customer::addSalary')) or (app.request.get('_route') is same as('admin_site::addSalary'))
                    or (app.request.get('_route') is same as('admin_customer::addSite')) or
                    (app.request.get('_route') is same as('admin_user::show')) ) ? true : false } )
                }}

                {{ form_row(form.role, { 'disabled': ( app.request.get('_route') is same as('admin_user::show')  ) ? true : false }) }}

            {%  if ( 'create' in app.request.uri ) or ( 'edit' in app.request.uri ) or ( 'add' in app.request.uri ) %}
                <div id="row-5" class="row">
                    <div>
                        <button id="submit-button">Valider</button>
                    </div>
                </div>

            {% else %}

                <div id="row-5" class="row">
                    <div>
                        <a href="{{ path('admin_user::edit', { id: user.id, name: user.name }) }}">Editer</a>
                    </div>
                </div>

            {% endif %}

            {{ form_end(form) }}

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_register') }}
{% endblock %}