{% extends 'setting.html.twig' %}

{% block maincontent %}
<section class="wrapper_tabcontent">
    <article id="setting-enseigne" class="tab-content current">

        <div class="tab-content-title">
            <h3>Enseigne</h3>
            <p>Super Wild Coffee</p>
        </div>

                    <div class="tab-content-bloc" >
                        <div class="tab-content-bloc-left" >
                            <form action="">
                                <div class="bloc-societe">

                                    <div class="bloc-societe-form">

                                        <div class="row">
                                            <label class="label-custome">Nom de la Societé</label>
                                            {# {% macro input(name, value, type = "text") %}
                                                <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}"  />
                                            {% endmacro %} #}
                                            <input type="text" class="input-custome" id="nom_societe" name="nom_societe"  value="text"/>
                                        </div>
                                        
                                        <div class="row-flex">
                                            <label class="label-custome">Nom</label>
                                            <select name="marque-select " class="marque-select select-custome">

                                            </select>
                                        </div>

                                        <div class="custom-file row">
                                            <div class="file-width"></div>
                                            <label for="file" class="label-file">Modifier logo</label>
                                            <input type="file" name="file" >
                                        </div>
                    
                                        
                        
                                        
                                        
                                        <div class="row btn-statut ">
                                            <p>Modifier son Statut</p>
                                            <button class="btn-right"><i class="fas fa-angle-right"></i></button>
                                        </div>
                                        
                                    </div>
                                
                                    <div class="bloc-societe-img">
                                        <img src="{{ asset('build/images/Logo_SuperWildCoffee.png') }}" alt="Logo_SuperWildCoffee">
                                        <img src="{{ asset('build/images/Logo_SuperWildCoffee.png') }}" alt="Logo_SuperWildCoffee">
                                    </div>

                                </div>
                                <div class="tab-content-btn">
                                    <button name="btn-mofifier" class="btn">Modifier</button>
                                </div>
                            </form>
                        </div>

                        <div class="tab-content-bloc-right">    
                            <form action="" >
                                <div class="bloc-group-top">
                                    <div class="inputRdo">
                                        <div class="rdo-cree">
                                            <input id="cree" name="cree" type="radio" checked/>
                                            <label for="cree"> Je crée un grope de site : </label>
                                        </div>
                                        <div class="rdo-rajoute">
                                            <input id="rajoute" name="cree" type="radio"/>
                                            <label for="rajoute">Je rajoute des sites à un groupe : </label>
                                        </div>
                                    </div>  
                                </div>

                                <div class="bloc-group-center">
                                    <div class="bloc-societe-form" >
                                        <div class="row">
                                            <label class="label-custome ">Nom du groupe</label>
                                            {# {% macro input(name, value, type = "text") %}
                                                <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}"  />
                                                <input type="text" id="nom_groupe" name="nom_groupe" />
                                                <input type="submit" value="ok" class="form-btn-sumbit">
                                            {% endmacro %} #}
                                            <input type="text"  class="input-custome" id="nom_groupe" name="nom_groupe" value="exemple : Régime B "/>
                                            <input type="submit" value="ok" class="form-btn-sumbit">
                                        </div>
                                        <div class="row-flex">
                                            <label class="label-custome ">Importer liste</label>
                                            <div class="custom-file form-file">
                                                <div class="file-width"></div>
                                                <label for="file" class="label-file">Télécharger Modéle vierge</label>
                                                <input type="file" name="file" >
                                            </div>
                                        </div>

                                        <div class="custom-file row">
                                            <div class="file-width"></div>
                                            <label for="file" class="label-file">Charger liste sites</label>
                                            <input type="file" name="file" >
                                            <input type="submit" value="ok"  class="form-btn-sumbit">
                                        </div>
                                    </div> 
                                </div>
                                <div class="bloc-group-bottom">
                                    <div class="row-flex">

                                        <div class="col">
                                            <p class="">Type de group</p>
                                        </div>

                                        <div class="rdo-square col">
                                            <div >
                                                <input type="radio"  id="text" name="test" value="cree" checked/>
                                                <label for="text"><span></span>Critère exclusif</label>
                                            </div>
                                            <div class="rounded">
                                                <span class="mini-circle"></span>
                                                <p>Région B</p>
                                            </div>
                                        </div>

                                        <div class="rdo-square col">
                                            <div>
                                                <input type="radio" id="text2" name="test" value="rajoute" />
                                                <label for="text2"><span></span>Critère optionnel</label> 
                                            </div> 
                                            <div class="rounded">
                                                <span class="mini-circle"></span>
                                                <p>--------</p>
                                            </div> 
                                        </div>

                                        <div class="col">
                                            <div class="row-flex">
                                                <button name="btn-liste" class="mini-btn-right"><i class="fas fa-angle-right"></i></button>
                                                <p>Choisir dans liste </p>
                                            </div>
                                            
                                            <div class="rounded">
                                                <span class="mini-circle"></span>
                                                <p>Gouter</p>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content-btn">
                                        <button name="btn-cree" class="btn">Créer group</button>
                                    </div>
                            </form>       
                        </div>
                    </div>
                    <div >
                        <table class="table-custome">
                            <thead  class="table-info">
                                <tr>
                                    <th>6 Marque</th>
                                    <th>Critère exclusif</th>
                                    <th>Critère optionnels</th>
                                    <th>Administrateurs</th>
                                    <th>Statut</th>
                                    <th>Nbre de sites</th>
                                </tr>
                            </thead>
                            
                                <tr>
                                    <td>Race</td>
                                    <td>Jack Russell</td>
                                    <td>Poodle</td>
                                    <td>Streetdog</td>
                                    <td>Cocker Spaniel</td>
                                    <td>Cocker Spaniel</td>
                                </tr>
                                <tr>
                                    <td>Race</td>
                                    <td>Jack Russell</td>
                                    <td>Poodle</td>
                                    <td>Streetdog</td>
                                    <td>Cocker Spaniel</td>
                                    <td>Cocker Spaniel</td>
                                </tr>
                                <tr>
                                    <td>Race</td>
                                    <td>Jack Russell</td>
                                    <td>Poodle</td>
                                    <td>Streetdog</td>
                                    <td>Cocker Spaniel</td>
                                    <td>Cocker Spaniel</td>
                                </tr>
                                <tr>
                                    <td>Race</td>
                                    <td>Jack Russell</td>
                                    <td>Poodle</td>
                                    <td>Streetdog</td>
                                    <td>Cocker Spaniel</td>
                                    <td>Cocker Spaniel</td>
                                </tr>
                        </table>    
                    </div>
    </article>    
</section>       
{% endblock %}