{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('settings-user') }}
{% endblock %}

{% block body %}
    <main class="main main_setting">
        <div class="main-content">

            <section class="jumbotron">

                {% block settingtitle %}
                    {% include 'home/home-info.html.twig' with { 'pageTitle': 'Configuration', 'sousTitle': 'Utilisateur', 'showSecondTitles': true } %}
                {% endblock %}

                {% block wrapper %}
                    {% include 'wrapper/wrapper_settings.html.twig'  %}
                {% endblock %}
            
            </section>

            <section class="wrapper_tabcontent">

                <article id="setting-user" class="tab-content current constent-user">

                    <div class="tab-content-title">
                        <h3 class="title">Gestion Des Utilisateur</h3>
                        {# <p> DEl&CIA</p> #}
                    </div>

                    <form action="" method="post" name="user">

                        <article class="display">
                            <div class="display-content">
                                <div class="display-btn">
                                    <a class="btn" href="{{ path('user::create') }} " role="button"><i class="fas fa-plus"></i>Créer utilisateur</a>
                                    <button type="button" class="btn hide-btn "><a href=""><i class="fas fa-plus"></i>Créer utilisateur identique</a></button>
                                    <button type="button" class="btn "><i class="far fa-edit"></i>Modifier</button>
                                    <button type="button" class="btn " data-tablelistdelete="user"><i class="fas fa-trash"></i>Supprimer</button>
                                </div>
                            </div>
                        </article>

                        <article class="content_btn">
                            <button type="button" class="btn">Trame modèle vierge</button>
                            <button type="button" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23.242 21.951"><defs><style>.a{fill:#fff;}</style></defs><g transform="translate(-4 -4)"><path class="a" d="M8,20.14v.646c2.183-3.329,4.648-5.1,7.747-5.165v3.874a1.393,1.393,0,0,0,1.476,1.291,1.518,1.518,0,0,0,1.14-.5c2.5-2.62,7.714-7.888,7.714-7.888s-5.218-5.271-7.715-7.924A1.629,1.629,0,0,0,17.223,4a1.392,1.392,0,0,0-1.476,1.291V9.165C9.73,9.165,8,15.455,8,20.14Z" transform="translate(1.165 0)"/><path class="a" d="M5.291,25.66H23.368a1.291,1.291,0,0,0,1.291-1.291V16.562c-.857.873-1.761,1.8-2.582,2.643v3.872H6.582V7.582h9.039V5H5.291A1.291,1.291,0,0,0,4,6.291V24.368A1.291,1.291,0,0,0,5.291,25.66Z" transform="translate(0 0.291)"/></g></svg>
                                Exporter Utilisateurs
                            </button>
                            <button type="button" class="btn">Gestion des rôles</button>
                        </article>

                        <article class="setting-user-table">
                            <div class="bloc_title">
                                <p>Liste des utilisateurs</p>
                            </div>
                            <div class="table">
                                <table class="table-custome" >
                                    <thead  class="table-info thead-content">
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Nom de l'utilisateur</th>
                                            <th>Rôle</th>
                                            <th>Périmètres</th>
                                            <th>Enseignes</th>
                                            <th>Login</th>
                                            <th>Contact</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody tbody-content scrollbar-table">

                                    {%  if usersInCustomer is defined and usersInCustomer is iterable  %}
                                        {%  for  userInCustomer in usersInCustomer  %}
                                            <tr>
                                                <td>
                                                    <input type="checkbox" >
                                                </td>
                                                <td>{% if  userInCustomer.firstName is defined %}
                                                        {{ userInCustomer.firstName }} {{ userInCustomer.lastName }}
                                                    {%  endif %}
                                                </td>
                                                <td> Rôle </td>
                                                <td>
                                                    {% if  userInCustomer.sitesIds is defined and userInCustomer.sitesIds is iterable %}
                                                    {{ userInCustomer.sitesIds | length }}
                                                    {%  endif %}
                                                </td>
                                                <td>
                                                    {% if  userInCustomer.Id is defined %}
                                                        <a class="btn"  href="{{path('user::edit',{ id:userInCustomer.Id }) }}" role="button"><i class="fas fa-plus"></i>Modifier</a>
                                                    {%  endif %}
                                                </td>
                                                <td>
                                                    {% if  userInCustomer.email is defined %}
                                                        {{ userInCustomer.email }}
                                                    {%  endif %}
                                                </td>
                                                <td>
                                                    {% if  userInCustomer.phoneNumber is defined %}
                                                        {{ userInCustomer.phoneNumber }}
                                                    {%  endif %}
                                                </td>
                                            </tr>
                                        {% endfor  %}
                                    {%  endif  %}
                                    </tbody>
                                </table>
                            </div> 
                        </article>
                        
                    </form>

                </article> 

            </section >

        </div>
    </main>
    
{% endblock %}
