{% extends 'base.html.twig' %}

{% block title %} Allergènes {% endblock %}

{# {% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('show_factories') }}
{% endblock %} #}

{% block body %}

    <main class="main main_setting">    
        <div class="main-content">

            <section class="jumbotron">

                {% block settingtitle %}
                    {% include 'home/home-info.html.twig' with { 'pageTitle': 'Paroduits', 'sousTitle': 'Allergènes', 'showSecondTitles': true } %}
                {% endblock %}

                {% block wrapper %}
                    {% include 'wrapper/wrapper_produits.html.twig'  %}
                {% endblock %}
                
            </section>

            <section class="wrapper_tabcontent">
                <div id="tab-products" class="tab-content current allergenes">

                    <article class="display setting-display ">
                        <div class="display-content">
                            <div class="display-btn">
                                <button type="button" class="btn" ><a href="{{ path('allergen::create') }}"><i class="fas fa-plus"></i>Ajouter</a></button>
                                <button type="button" class="btn" ><a id="edit" href="{{ path('allergen::edit', {'allergen': 1}) }}"><i class="far fa-edit"></i> Modifier</a></button>
                                {# <button type="button" class="btn" id="duplicate"><i class="fas fa-plus"></i>Dupliquer</button> #}
                                <button type="button" class="btn" id="delete"><i class="fas fa-trash"></i>Supprimer</button>
                            </div>
                        </div>
                    </article>

                    <article class="content-table">

                        <div id="" class="table table-allergenes" >
                            <form method="post" action="{{ path('allergens::delete') }}">
                                <table id="list" class="table-custome" >
                                    <thead class="thead-info">
                                        <tr>
                                            <th>Selection<th>
                                            <th>nom</th>
                                            <th>decription</th>
                                            <th>pictogramme</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody tbody-content scrollbar-table">
                                        {% for allergen in allergens %}
                                            <tr>
                                                <td><input type="checkbox" name="allergens[{{ allergen.id }}]"></td>
                                                <td>{{ allergen.name }}</td>
                                                <td>{{ allergen.description }}</td>
                                                <td><img src="/pictogram/{{ allergen.pictogram }}" alt"" class="image-td"></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </form>
                        </div>

                    </article>

               </div>
            </section>

        </div>
    </main> 

    

    {% block javascripts %}
    {{ encore_entry_script_tags('show_products') }}
    {% endblock javascripts %}

{% endblock %}