
<div id="add_media">
<div id="add_media__head">
    <div id="add_media__head__title">
        <i class="fas fa-images"></i>
        <h2>Mediateque</h2>
        <h3>Ajouter un média</h3>
    </div>
    <div id="add_media__head__actions">
        <button id="add_media__head__actions__close">
          <i class="fas fa-times"></i>
        </button>
    </div>
</div>
<div id="add_media__body">
    {{ form_start( addMediaForm, {'attr': {'id': 'add_media_form'}}) }}
    <div id="add_media__body__sort">

        <div id="add_media__body__sort__filter">
            <div id="add_media__body__sort__media-type">
                {% for allowedMediaType in addMediaForm.allowedMediasTypes  %}
                    {{ form_widget( allowedMediaType ) }}
                    <button>{{ form_label( allowedMediaType ) }}</button>
                {% endfor %}

            </div>
            <div id="add_media__body__sort__filter__criterions">
                <div id="add_media__body__sort__filter__criterions__button" class="add_media__body__sort__filter__unwrap">
                    <button class="btn--bluecanard">Critères</button>
                </div>
                {{ form_widget( addMediaForm.criterions ) }}
            </div>
            <div id="add_media__body__sort__filter__tags">
                <div id="add_media__body__sort__filter__tags__button" class="add_media__body__sort__filter__unwrap">
                    <button class="btn--bluecanard">Tags</button>
                </div>
                {{ form_widget( addMediaForm.tags ) }}
            </div>
            <button id="add_media__body__sort__filter__comfirm">Filtrer</button>
        </div>
        <div id="add_media__body__sort__search">
            {{ form_widget( addMediaForm.search ) }}
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div id="add_media__body__programming">
        <div id="add_media__body__programming__medias">
        {% for media in  addMediaForm.medias %}
            {% set currentMedia = media.vars.object %}
            <article class="add_media__body__programming__medias__thumbnail">
                <div class="add_media__body__programming__medias__thumbnail__top-banner">
                    {{ form_widget( media ) }}
                    <span>24/03/2020 au 12/04/2020</span>
                </div>
                <img src="{{ asset('build/medias/images/low/' ~ currentMedia.name ~ '.' ~ currentMedia.extension ) }}">
                {{ form_label( media ) }}
            </article>
        {% endfor %}
        </div>
        <div id="add_media__body__programming__infos">
            <div id="add_media__body__programming__infos__banner--top">
                <button id="add_media__body__programming__infos__show">{{ form_label( addMediaForm.programming ) }}</button>
                <p>(ex: Ajouter plusieurs médias à une date souhaitée)</p>
            </div>
            <div id="add_media__body__programming__infos__form">
                <div id="add_media__body__programming__infos__form__timeslot">
                    {{ form_label( addMediaForm.programming.timeSlot )  }}
                    {{ form_widget( addMediaForm.programming.timeSlot ) }}
                </div>
                <div id="add_media__body__programming__infos__form__additional">
                    <div id="add_media__body__programming__infos__form__additional__days">
                        {{ form_label( addMediaForm.programming.days ) }}
                        <div id="add_media__body__programming__infos__form__additional__days__list">
                        {% for day in  addMediaForm.programming.days %}
                            {{ form_label( day ) }}
                            {{ form_widget( day ) }}
                        {% endfor %}
                        </div>
                    </div>
                    <div id="add_media__body__programming__infos__form__additional__screen">
                        {{ form_label( addMediaForm.programming.screen ) }}
                        <div id="add_media__body__programming__infos__form__additional__screen__list">
                            {% for screen in  addMediaForm.programming.screen %}
                                {{ form_label( screen ) }}
                                {{ form_widget( screen ) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div id="add_media__body__programming__infos__form__additional__date">
                        <div>
                            {{ form_label( addMediaForm.programming.startDate ) }}
                            {{ form_widget( addMediaForm.programming.startDate ) }}
                        </div>
                        <div>
                            {{ form_label( addMediaForm.programming.endDate ) }}
                            {{ form_widget( addMediaForm.programming.endDate ) }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="add_media__body__programming__infos__actions">
                <button class="cancel btn--blueminuit">Annuler</button>
                <button class="comfirm btn--bluecanard">Comfirmer</button>
            </div>
        </div>


{#        {{ form_widget( addMediaForm.medias ) }}#}
    </div>

{#    {% for mediaForm in addMediaForm.medias  %}#}
{#        {% set currentMedia =  mediaForm.vars.object %}#}
{#        {{ dump( currentMedia ) }}#}
{#    {% endfor %}#}
    {{ form_end( addMediaForm ) }}
</div>
</div>