{% extends "base.html.twig" %}

{% block title %}
    {{ "Voir les salariés | Back-office" }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('back-office') }}
{% endblock %}


{% block body %}

    <div id="body">

        <div class="jumbotron">
            <div class="container">
                <h3>Filtrer</h3>
                {{ form_start(form) }}
                <div class="form-row">
                    <div class="col">
                        {{ form_widget(form.name) }}

                        {{ form_widget(form.email) }}

                        {{ form_widget(form.phone_number) }}

                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        {{ include('templates/flash_message/__flash_message.html.twig') }}

        {% if salaries|length > 0 %}

            <table>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Site</th>
                    <th>Pays</th>
                    <th>Ville</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>

                {% for salary in salaries %}
                    <tr>
                        <td>{{ salary.name }}</td>
                        <td>{{ salary.email }}</td>
                        <td>{{ salary.site.name }}</td>
                        <td>{{ salary.site.country.name }}</td>
                        <td>{{ salary.site.city }}</td>
                        <td>{{ salary.role.name }}</td>
                        <td>
                            <a href="{{ path('admin_user::show', {id: salary.id, name: salary.name}) }}">Consulter</a>
                            <a href="{{ path('admin_user::edit', {id: salary.id, name: salary.name}) }}">Editer</a>
                            {{ include('templates/delete_entity/__delete_entity.html.twig',
                                {
                                    form_action: path('admin_user::delete', {id: salary.id, name: salary.name}),
                                    subject: salary
                                }
                            )
                            }}
                        </td>
                    </tr>
                {% endfor %}

            </table>

        {% else %}

            <h3>Aucun salariés !</h3>

        {% endif %}

        <button><a href="{{ path('admin_customer::addSalary', { id: customer.id, name: customer.name }) }}">Ajouter un salarié</a></button>

        {{ include('templates/paginator/__paginator.html.twig', {subject: salaries}) }}

    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('back-office') }}
{% endblock %}