{{ form_start(form) }}

    <div class="row">
        <label class="container-input">
            <input type="checkbox" id="1">
            <span class="container-rdo-tags"></span>
        </label>
        {{ form_widget(form.selected) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
    </div>

    
    <section class="bloc table">

        <article class="bloc-produits ">
            <div class='title'>
                <h3>Affecté aux <span class="title-bold">produits</span> :</h3>
            </div>
            <table class="table-produits table-custome">
                <thead class="table-info thead-info">
                    <tr>
                        <th>Produits</th>
                        <th>Ajouter Produits : <button type="button" class="btn"><i class="fas fa-align-justify"></i>Produits</button></th>
                    </tr>
                </thead>
                <tbody class="tbody tbody-content scrollbar-table">
                    {# {% for product in form.products %}
                        <tr>
                            <td class="">
                                <img src="{{ asset('/build/images/no-available-image.png') }}" alt="Factory & cO">
                            </td>
                            <td> #}
                            {# <label class="container-input">
                                    {{ form_widget(site, {'attr': {'class': ''} }) }}
                                    {{  form_label(site) }}
                                    <span class="container-rdo"></span>
                                </label> #}
                                {# {{ form_row(product, {'attr': {'class': ''} }) }} #}
                            {# </td>
                        </tr>            
                    {% endfor %} #}
                </tbody>
            </table>
        </article>

    

        <div class="bloc-site " >
            <div class='title'>
                <h3>Affecté aux <span class="title-bold">sites</span>: </h3>
            </div>
            <table class="table-site-custome table-custome">
                <thead class="table-info thead-info">
                    <tr>
                        <th>Site</th>
                        <th>Ajouter sites : <button type="button" class="btn btn-site"><i class="fas fa-align-justify"></i>Sites</button></th>
                    </tr>
                </thead>
                <tbody class="tbody tbody-content scrollbar-table">
                    {# {% for site in form.sites %}
                        {%  set currentSite = site.vars.data  %}
                        <tr class="tag__sites__site{% if currentSite not in tag.sites %} hidden{% endif %}">
                            <td >
                                {{ form_row(site, {'attr': {} }) }}
                            </td>
                         
                        </tr>            
                    {% endfor %} #}
                </tbody>
            </table>
        </div>

    </section>



























    <div class="select">
        <div class="select-product">
        </div>

        <div class="select-site">
            <div class="select-site-title">
                <h2>Affecté aux <span>SITES :</span></h2>
            </div>
            <div class="block-select-site">
                <div class="block-select-site-title" >
                    <p>Sites</p>
                    <p>Ajouter sites: <button type="button"> Sites</button></p>
                </div>
                <div >
                    {%  if form.sites|length < 1  %}  {{ form_row(form.sites) }} {% endif %}

                    {% for site in form.sites %}
                        {%  set currentSite =  form.sites.vars.choices[site.vars.value].data %}
                        {{ form_row(site ,  {'attr': {'checked': currentSite not in availablesSites }}  ) }}
                    {% endfor  %}
                    
                </div>
               
            </div>
     
            
        </div>
    </div>

    

    
    

    {%  if form.products | length < 1  %}  {{ form_row(form.products) }} {% endif %}

    {% for product in form.products %}
        {%  set currentProduct =  form.products.vars.choices[product.vars.value].data %}
        {{ form_row(product ,  {'attr': {'checked': currentProduct not in availablesProducts }}  ) }}
    {% endfor  %}


    <button class="btn">{{ button_label|default('Enregister') }}</button>
{{ form_end(form) }}
