{% extends 'base.html.twig' %}

{% block title %}Edit Criterion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('criterion') }}
{% endblock %}

{% block body %}
    <main class="main main_setting">
        <div class="main-content">

            <section class="jumbotron">

                {% block settingtitle %}
                    {% include 'home/home-info.html.twig' with { 'pageTitle': 'Configuration', 'sousTitle': 'Critéres', 'showSecondTitles': true } %}
                {% endblock %}

                {% block wrapper %}
                    {% include 'wrapper/wrapper-settings.html.twig'  %}
                {% endblock %}
                
            </section>

            {% block maincontent %}
                <section class="wrapper_tabcontent">

                    <div id="setting-criteres" class="tab-content current tab-content-criteres edit-critere ">
                    
                        <article class="tab-content-title">
                            <h3 class="title">Modifier Critéres</h3>
                            <p>SUPER WILD COFFEE</p>
                        </article>

                        <article class="display criterion-display ">
                            <div class="display-content">
                                <div class="display-btn">
                                    <a href="{{ path('criterions_lists_new') }}"  class="btn" ><i class="fas fa-plus"></i>Créer Critère</a>
                                    <button type="button" class="btn duplicate-criterion"><a href=""><i class="fas fa-plus"></i>Dupliquer</a></button>
                                    <button type="button" class="btn modified-criterion"><i class="far fa-edit"></i>Modifier</button>
                                    {# <button type="button" class="btn delete-criterion" data-tablelistdelete="site">Supprimer</button> #}
                                    {{ include('settings/criterions/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </article>
                    
                        {% set criterions_list = criterion.list %}
                        {{ include('settings/criterions_lists/_criterions_list.html.twig') }}

                        {{ include('settings/criterions/_form.html.twig', {'button_label': 'Update'}) }}

                        <a href="{{ path('criterions_show', {'id' : criterion.id }) }}" class="btn">Annuler</a>

                        
                    </div>
                    
                <section>
            {% endblock %}
                
        </div>
    </main>



    
{% endblock %}
