{% extends 'base.html.twig' %}

{% block title %}Edit Criterion{% endblock %}

{% block body %}
    <h1>Edit Criterion</h1>

    {{ dump(app.flashes('error')) }}
        {% set criterions_list = criterion.list %}
        {{ include('settings/criterions_lists/_criterions_list.html.twig') }}
    {{ include('settings/criterions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('criterions_show', {'id' : criterion.id }) }}">back to list</a>

    {{ include('settings/criterions/_delete_form.html.twig') }}
{% endblock %}
