<div class="form-content">
    {{ form_start(form) }}

        <div class="row">
            <div class="row">
                {{ form_label(form.name, 'Nom de la liste :',  {'label_attr': {'class': 'form-label'}} )  }}
                {{ form_widget(form.name, {'attr': {'class': 'input-custome', ' placeholder' : 'Religieux',}}) }}
            </div>
            <div class="row ">
                {{ form_label(form.description, 'description de la liste :',  {'label_attr': {'class': 'form-label'}} )  }}
                {{ form_widget(form.description, {'attr': {'class': 'input-custome',' placeholder' : 'Type de produits par conviction religieuse',}}) }}
            </div>
        </div>

        <div class="row row-multiple">
            {{ form_label(form.multiple, 'Pour les sites, Affectaion à choix :',  {'label_attr': {'class': 'form-label'}} )  }}
            {{ form_widget(form.multiple, {'attr': {'class': 'input-custome'}}) }}
        </div>

        <div class="content-criteres">
            <div class="title">
                <p>Critères<p>
            </div>
            <div class="content-criteres-bloc">
                {% for criterion in form.criterions  %}   
                    <div class="row-criteres">
                        {# {{ form_widget(criterion) }} #}
                        <div class="selected">
                            {{ form_label(criterion.selected , "choix n°" ~ loop.index ) }}
                            {{ form_widget(criterion.selected)  }}
                        </div>
                        <div>
                            {{ form_label(criterion.name)  }}
                            {{ form_widget(criterion.name)  }}
                        </div>
                        <div>
                            {{ form_label(criterion.description)  }}
                            {{ form_widget(criterion.description) }}
                        </div>
                    </div>
                {% endfor %}
            </div> 

            <div class="btn-add">
                <button class="btn btn-add-critiere" >Ajouter un critère</button>
            </div>
        </div>

    
        <div class="btn-save">
            <button class="btn ">{{ button_label|default('Enregister la liste') }}</button>
        </div>

    {{ form_end(form) }}
</div>