{% block title %}Gestion des Critéres{% endblock %}

{% extends 'setting.html.twig' %}

{# {% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('criterion') }}
{% endblock %} #}

{% block settingtitle %}
     {% include 'home/home-info.html.twig' with { 'pageTitle': 'Configuration', 'sousTitle': 'Critéres', 'showSecondTitles': true } %}
{% endblock %}

{% block maincontent %}
    <section class="wrapper_tabcontent">
        <div id="setting-criteres" class="tab-content current tab-content-criteres">

            <article class="tab-content-title">
                <h3 class="title">Gestion des Critéres</h3>
                <p>SUPER WILD COFFEE</p>
            </article>

            <article class="display setting-display ">
                <div class="display-content">
                    <div class="display-btn">
                        <a href="{{ path('criterion_list_new') }}"  class="btn" ><i class="fas fa-plus"></i>Créer TAG</a>
                        <button type="button" class="btn duplicate-table"><a href=""><i class="fas fa-plus"></i>Dupliquer</a></button>
                        <button type="button" class="btn modified-criterion"><i class="far fa-edit"></i>Modifier</button>
                        <button type="button" class="btn delete-table" data-tablelistdelete="site"><i class="fas fa-trash"></i>Supprimer</button>
                    </div>
                </div>
            </article>

            <article class="content-criterion table"> 
                <ul>
                    {%  for criterion_list in criterion_lists  %}
                        <li class="row-criterion">

                            <div class="bloc-criterion-title">
                                <input type="checkbox" id="{{criterion_list.id}}" />
                                <label class="title">{{ criterion_list.name }}</label>
                                <p>{{ criterion_list.description }}</p>
                            </div>

                            <table class="table-custome">
                                <thead class="thead-info">
                                    <tr>
                                        <th><h3>Critère</h3></th>
                                        <th><p>Description du critère</p></th>
                                    </tr>
                                </thead>

                                <tbody class="tbody tbody-content scrollbar-table">
                                    <tr>
                                        <td><p>Pour les sites affectation à choix : <span>{{criterion_list.multiple ? 'Multiple' : 'Unique'  }}</span></p></td>
                                    </tr>
                                    {% for criterion in criterion_list.criterions %}
                                        
                                        <tr class='tr-custome'>
                                            <td><input type="checkbox" id="{{criterion_list.id}}" data-criterion="{{criterion_list.id}}" ><label class="cercle">{{ criterion.name }}</label></td>
                                            <td><p class="cercle-desc">{{ criterion.description }}</p></td>
                                            <td><a href="{{ path('criterion_list_edit', {'id': criterion_list.id}) }}">edit</a></td>
                                            
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </li>
                    {% endfor %}
                </ul>
            <article>

        <div>
    <section>
{% endblock %}
