{% extends 'base.html.twig' %}

{% block title %}CriterionList index{% endblock %}

{% block body %}
    <h1>CriterionList index</h1>
    <a href="{{ path('criterion_list_new') }}">Create new</a>
    <form>
        <ul>
            {%  for criterion_list in criterion_lists  %}
                <li>
                    <div>
                        <input type="checkbox"/>
                        <span>{{ criterion_list.name }}</span>
                        <p>{{ criterion_list.description }}</p>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th><h3>Critère</h3></th>
                            <th><p>Description du critère</p></th>
                        </tr>
                        <tr>
                            <th><p>Pour les sites affectation à choix : <span>{{criterion_list.multiple ? 'Multiple' : 'Unique'  }}</span></p></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for criterion in criterion_list.criterions %}
                            <tr>
                                <td><input type="checkbox"><span>{{ criterion.name }}</span></td>
                                <td><p>{{ criterion.description }}</p></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </li>
                {#        {{ dump(criterion_list) }}#}
            {% endfor %}
        </ul>

        {#    <table class="table">#}
        {#        <thead>#}
        {#            <tr>#}
        {#                <th>Id</th>#}
        {#                <th>Name</th>#}
        {#                <th>Multiple</th>#}
        {#                <th>Description</th>#}
        {#                <th>actions</th>#}
        {#            </tr>#}
        {#        </thead>#}
        {#        <tbody>#}
        {#        {% for criterion_list in criterion_lists %}#}
        {#            <tr>#}
        {#                <td>{{ criterion_list.id }}</td>#}
        {#                <td>{{ criterion_list.name }}</td>#}
        {#                <td>{{ criterion_list.multiple ? 'Yes' : 'No' }}</td>#}
        {#                <td>{{ criterion_list.description }}</td>#}
        {#                <td>#}
        {#                    <a href="{{ path('criterion_list_show', {'id': criterion_list.id}) }}">show</a>#}
        {#                    <a href="{{ path('criterion_list_edit', {'id': criterion_list.id}) }}">edit</a>#}
        {#                </td>#}
        {#            </tr>#}
        {#        {% else %}#}
        {#            <tr>#}
        {#                <td colspan="5">no records found</td>#}
        {#            </tr>#}
        {#        {% endfor %}#}
        {#        </tbody>#}
        {#    </table>#}
    </form>


{% endblock %}
