{% block title %}Gestion des Critéres{% endblock %}

{% extends 'setting.html.twig' %}

{# {% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('criterion') }}
{% endblock %} #}

{% block settingtitle %}
     {% include 'home/home-info.html.twig' with { 'pageTitle': 'Configuration', 'sousTitle': 'Critéres', 'showSecondTitles': true } %}
{% endblock %}

{% block maincontent %}
    <section class="wrapper_tabcontent">

        <div id="setting-criteres" class="tab-content current">
            <article>
            </article>


            <article class="tab-content-title">
                <h3 class="title">Gestion des Critéres</h3>
                <p>SUPER WILD COFFEE</p>
            </article>

            <article class="display setting-display ">
                <div class="display-content">
                    <div class="display-btn">
                        <a href="{{ path('criterion_list_new') }}"  class="btn" ><i class="fas fa-plus"></i>Créer TAG</a>
                        <button type="button" class="btn duplicate-table"><a href=""><i class="fas fa-plus"></i>Dupliquer</a></button>
                        <button type="button" class="btn modified-table"><i class="far fa-edit"></i>Modifier</button>
                        <button type="button" class="btn delete-table" data-tablelistdelete="site"><i class="fas fa-trash"></i>Supprimer</button>
                    </div>
                </div>
            </article>

            <article class="content-tags table"> 
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Multiple</th>
                            <th>Description</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for criterion_list in criterion_lists %}
                    	
                        <tr>
                            <td>{{ criterion_list.id }}</td>
                            <td>{{ criterion_list.name }}</td>
                            <td>{{ criterion_list.multiple ? 'Yes' : 'No' }}</td>
                            <td>{{ criterion_list.description }}</td>
                            <td>
                                <a href="{{ path('criterion_list_show', {'id': criterion_list.id}) }}">show</a>
                                <a href="{{ path('criterion_list_edit', {'id': criterion_list.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

    
            <article>

            

        <div>

    <section>

{% endblock %}
