{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Invite/Documents/dev/infoway-master/src/Controller/TestController.php'|file_link(0) }}">src/Controller/TestController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Invite/Documents/dev/infoway-master/templates/test/index.html.twig'|file_link(0) }}">templates/test/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}

<div class="card __CLASS__" id="__ID__"  data-created_date="__CREATED_DATE__" data-file_type="__FILE_TYPE__" data-orientation="__ORIENTATION__"

     data-media_diff_start="__MEDIA_DIFF_START__" data-media_diff_end="__MEDIA_DIFF_END__" data-customer="__CUSTOMER__"

     data-products="__MEDIA_PRODUCTS_ID__" data-categories="__MEDIA_CATEGORIES_ID__" data-criterions="__MEDIA_CRITERIONS_ID__" data-tags="__MEDIA_TAGS_ID__" >

    <div class="card_header">
        <div class="select_media_input_container">
            <label class="container-input">
                <input type="checkbox" class="select_media_input">
                <span class="container-rdo-tags"></span>
            </label>
        </div>

        <div class="media_actions_shortcuts_container">
            <div class="shortcut shortcut_diff_date_modification alert_date">
                <i class="far fa-clock"></i>
            </div>

            <div class="shortcut">
                <i class="fas fa-euro-sign"></i>
            </div>

            <div class="shortcut">
                <i class="fas fa-link shortcut_product_association"></i>
            </div>

            <div class="shortcut">
                <i class="fas fa-spinner"></i>
            </div>

        </div>
    </div>

    <div class="card_body">

        <div class="media_miniature_container media___ORIENTATION__" data-miniature_medium_exist="__MINIATURE_MEDIUM_EXIST__" data-size="__WIDTH__*__HEIGHT__" data-extension="__EXTENSION__"
                {% if mediaInfos['fileType'] is same as('image') %} data-dpi="72" {% else%} data-codec="{{ media.videoCodec }}" {% endif%} >

            {#{% if mediaInfos['miniature_low_exist'] is defined and mediaInfos['miniature_low_exist'] is same as(false) %}

                <img class="media_miniature miniature_{{ mediaInfos['file_type'] }}" src="/build/images/no-available-image.png" alt="/build/images/no-available-image.png">

            {% else %}

                {% if mediaInfos['file_type'] is same as('image') %}

                    <div class="media_container_img">
                        <div class="media_container_arrows show_expanded_miniature">
                            <i class="fas fa-expand-arrows-alt"></i>
                        </div>
                        <img class="media_miniature miniature_image" src="{{ "/miniatures/" ~ app.session.get('current_customer').name| lower  ~ '/image/' ~ media.mediaType ~ '/low/' ~ media.id ~ ".png" }}"
                             alt="{{ "/miniatures/" ~ app.session.get('current_customer').name| lower  ~ '/image/' ~ media.mediaType ~ '/low/' ~ media.id ~ ".png" }}">
                    </div>


                {% elseif mediaInfos['file_type'] is same as('video') %}

                    <div class="media_container_video">
                        <div class="media_container_arrows show_expanded_miniature">
                            <i class="fas fa-expand-arrows-alt"></i>
                        </div>
                        <video class="media_miniature miniature_video">
                            <source src="{{ "/miniatures/" ~ app.session.get('current_customer').name| lower  ~ '/video/' ~ media.mediaType ~ '/low/' ~ media.id ~ ".mp4" }}" type="video/mp4">
                        </video>
                    </div>

                {% endif %}

            {% endif %}#}

        </div>

        <div class="media_name_container">
            <p class="media_name">__NAME__</p>
        </div>

        <div class="media_associated_items_container">

            <div class="media_criterions_container associated_item">

                {#{% if media.products is not empty %}

                    {% for product in media.products %}

                        {% for criterion in product.criterions %}

                            <p class="criterion"><span></span>{{ criterion.name }}</p>

                        {% endfor%}

                    {% endfor %}

                {% else %}

                    <p>0 critères </p>

                {% endif %}#}

            </div>

            <div class="media_tags_container associated_item">

                {#{% if media.tags is not empty %}

                    {% for tag in media.tags %}
                        <p class="tag container-tags">
                            <span class="mini-cercle" style="background: {{tag.color}};"></span>
                            <span class="current-tags-name">{{ tag.name }}</span>
                        </p>
                    {% endfor %}

                {% else %}

                    <p>0 tags </p>

                {% endif %}#}

            </div>

        </div>

    </div>

</div>
