<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %} Bienvenue !{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" rel="stylesheet">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link href="https://file.myfontastic.com/FVqhjvFpRBCZQjWy3VpicD/icons.css" rel="stylesheet">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            {{ encore_entry_link_tags('app') }}

            {#<link href="https://file.myfontastic.com/FVqhjvFpRBCZQjWy3VpicD/icons.css" rel="stylesheet">#}
            {# <link href="node_modules/select2/dist/css/select2.min.css" rel="stylesheet" /> #}
            {#{{ encore_entry_link_tags('modal_message') }}#}
        {% endblock %}
    </head>

    <body>

        {#{% if (message is defined) and (message is not null) %}
            <div style="display: none" id="message" data-message="{{ message }}"></div>
        {% endif %}#}

        <header class="header" >
            {% embed 'header.html.twig' %}

            {% endembed %}
        </header>

        {% block container %}
            <div id="container" class="menu" >
 
                {% block nav %}
                    <nav class="nav">
                        <ul class="nav-menu"> 
                            <li class="nav__menu-home active">
                                <a href="/" class=""><i class="icon icon-picto-accueil"></i></a>
                            </li>
                            <li class="nav-menu-hover">
                                <a href="{{ path('customers_new') }}" ><span class="nav-menu-title">Configuration</span><i class="icon icon-picto-nav-sites"></i></a>

                                <ul class="nav-sous-menu">
                                    <li><a href="{{ path('customers_new') }}"><span> Enseignes </span></a></li>
                                    <li><a href="{{ path('users:view') }}"><span> Utilisateurs </span></a></li>
                                    <li><a href="{{ path('criterions_lists_index') }}"><span> Critères </span></a></li>
                                    <li><a href="{{ path('tags_index') }}"><span> TAGS </span></a></li>
                                </ul>

                                <ul class="nav-sous-menu-mobile">
                                    <li><a href="{{ path('customers_new') }}"><span class="nav-mobile-title"> Configuration </span></a></li>
                                    <li><a href="{{ path('customers_new') }}" ><span> Enseignes </span></a></li>
                                    <li><a href="{{ path('users:view') }}"><span> Utilisateurs </span></a></li>
                                    <li><a href="{{ path('criterions_lists_index') }}"><span> Critères </span></a></li>
                                    <li><a href="{{ path('tags_index') }}"><span> TAGS </span></a></li>
                                </ul>

                            </li>

                            <li class="nav-menu-hover">
                                <a href="/site"><span class="nav-menu-title">Sites</span><i class="icon icon-picto-nav-sites"></i></a>

                                {#<ul class="nav-sous-menu">#}
                                    {#<li><a href=""><span>Prix</span></a></li>#}
                                    {#<li><a href=""><span>Playlist/Room</span></a></li>#}
                                    {#<li><a href=""><span>Info Ecrans</span></a></li>#}
                                {#</ul>#}

                                <ul class="nav-sous-menu-mobile">
                                    <li><a href="/site"><span class="nav-mobile-title">Sites</span></a></li>
                                    {#<li><a href=""><span >Prix</span></a></li>#}
                                    {#<li><a href=""><span> Playlist/Room</span></a></li>#}
                                    {#<li><a href=""><span >Info Ecrans</span></a></li>#}
                                </ul>
                            </li>

                            <li class="nav-menu-hover">
                                <a href="{{ path('products::show') }}"><span class="nav-menu-title">Produits</span><i class="icon icon-picto-produit"></i></a>

                                <ul class="nav-sous-menu">
                                    <li><a href="{{ path('products::show') }}"><span> Produits </span></a></li>
                                    <li><a href="{{ path('categories::show') }}"><span> Catégories</span></a></li>
                                    <li><a href="{{ path('pricesfactories::show') }}"><span> Prix </span></a></li>
                                    <li><a href="{{ path('pricesfactories::show') }}"><span> Rupture </span></a></li>
                                    <li><a href="{{ path('allergens::show') }}"><span> Allergènes </span></a></li>
                                </ul>
                                <ul class="nav-sous-menu-mobile">
                                    <li><a href="{{ path('products::show') }}"><span class="nav-mobile-title">Produits</span></a></li>
                                    {#<li><a href="{{ path('products::show') }}"><span> Produits </span></a></li>#}
                                    <li><a href="{{ path('categories::show') }}"><span> Catégories</span></a></li>
                                    <li><a href="{{ path('pricesfactories::show') }}"><span> Prix </span></a></li>
                                    <li><a href="{{ path('pricesfactories::show') }}"><span> Rupture </span></a></li>
                                    <li><a href="{{ path('allergens::show') }}"><span> Allergènes </span></a></li>
                                </ul>
                            </li>
                            <li class="nav-menu-hover">
                                <a href="/programming"><span class="nav-menu-title">Programmation</span><i class="icon icon-picto-nav-calendrier"></i></a>
                                <ul class="nav-sous-menu">
                                    <li><a href=""><span >Prix</span></a></li>
                                    <li><a href=""><span> Playlist/Room</span></a></li>
                                    <li><a href=""><span >Info Ecrans</span></a></li>
                                </ul>
                                <ul class="nav-sous-menu-mobile">
                                    <li><a href="/programming"><span class="nav-mobile-title">Programmation</span></a></li>
                                    <li><a href=""><span >Prix</span></a></li>
                                    <li><a href=""><span> Playlist/Room</span></a></li>
                                    <li><a href=""><span >Info Ecrans</span></a></li>
                                </ul>
                            </li >
                            <li class="nav-menu-hover">
                                <a href="{{ path('media::showMediatheque', {mediasDisplayedType: 'medias'}) }}"><span class="nav-menu-title">Médiathèque</span><i class="icon icon-picto-mediathque"></i></a>
                                <ul class="nav-sous-menu-mobile">
                                    <li><a href="{{ path('media::showMediatheque', {mediasDisplayedType: 'medias', page: 1}) }}"><span class="nav-mobile-title">Medias</span></a></li>
                                    <li><a href="{{ path('media::showMediatheque', {mediasDisplayedType: 'video_synchro', page: 1}) }}"><span class="nav-mobile-title">Vidéos Synchro</span></a></li>
                                    <li><a href="{{ path('media::showMediatheque', {mediasDisplayedType: 'video_thematic', page: 1}) }}"><span class="nav-mobile-title">Vidéos Thématique</span></a></li>
                                    <li><a href="{{ path('media::showMediatheque', {mediasDisplayedType: 'element_graphic', page: 1}) }}"><span class="nav-mobile-title">Éléments graphiques</span></a></li>
                                    <li><a href="{{ path('media::showMediatheque', {mediasDisplayedType: 'template', page: 1}) }}"><span class="nav-mobile-title">Templates</span></a></li>
                                    <li><a href="{{ path('media::showMediatheque', {mediasDisplayedType: 'incruste', page: 1}) }}"><span class="nav-mobile-title">Incrustes</span></a></li>
                                </ul>
                            </li>
                            <li class="nav-menu-hover">
                                <a href="/info"><span class="nav-menu-title">Infos</span><i class="icon icon-picto-infos"></i></a>
                                <ul class="nav-sous-menu-mobile">
                                    <li><a href="/info"><span class="nav-mobile-title">Infos</span></a></li>
                                </ul>
                            </li>
                                
                        </ul>
                    </nav>

                {% endblock %}

                {% block body %}

                {% endblock %}  
                  
            </div>

        {% endblock %}

        {% block footer %}

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <script src="https://kit.fontawesome.com/fe6070e42e.js" crossorigin="anonymous"></script>

            {# <script src="node_modules/select2/dist/js/select2.min.js"></script>
            <script>
                    $(".ManyToMany select").select2();
            </script> #}
            {#{{ encore_entry_script_tags('modal_message') }}#}
        {% endblock javascripts %}

    </body>

</html>
