{% block header %}
    <div class="header_logo">
        <div class="logo__infoway">
            <img src="{{ asset('build/images/infoway.png') }}" alt="logo infoway">
        </div>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler" />
            <div class="hamburger"><div></div></div>
        </div>
    </div>

    <div id="header__block">
        <div class="header__block--left">
            <div class="header__gradient-left">
                <div class="logo__enseigne">
                     <img id="customer_logo" src="{{ asset('/build/images/'~ app.session.get('current_customer').name~'.png') }}" alt="logo quick" class="img_enseigne contenu_hide">
                    <div class="all__enseigne">
                        <form class="enseigne">
                            <select name="enseigne" id="enseigne">
                                <option value="">Sélectionner l'enseigne</option>
                                {% for customer in app.session.get('customers') %}
                                    <option value="{{customer.id}}" {% if (app.session.get('current_customer') is not null ) and (customer.name is same as(app.session.get('current_customer').name )) %} selected {% endif %} >{{customer.name}}</option>
                                {% endfor %}
                            </select>
                            <p class="number__enseigne contenu_hide"><span></span> enseignes</p>
                            <div class="header_btn">
                                <button class="btn btn_maj contenu_hide" type="button"><span></span>Mettre à jour l'enseigne</button>
                                <button class="btn-back contenu_hide" type="button" ><span></span>Revenir</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="header__gradient-right">
                <div class="all__site">
                    <form class="site">
                        <select name="site" id="select_site" class="select-pointer_events">
                            <option value="" class="site_choise">sélectionner site</option>
                            <option value="Q584">Q584</option>
                            <option value="Q562">Q584</option>
                            <option value="Q284">Q584</option>
                            <option value="Q564">Q584</option>
                            <option value="Q594">Q584</option>
                            {# {% for customer in customer %}
                                    <option value="{{customer}}">{{customer}}</option>
                                {% endfor %} #}
                        </select>
                        <p class="number__site contenu_hide">Lemans</p>

                    </form>
                    <div class="update">
                        <button class="update__site contenu_hide" type="button">Mettre à jour le site</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="header__block--right">
            <div class="clock__all">
                <div class="clock-container" {% if location is defined %} data-city="{{ location.city }}" data-timezone="{{ location.timezone }}" data-date_format="{{ location.date_format }}" data-clock_format="{{ location.clock_format }}" {% endif %}>
                </div>

                <i class="arrow-down" id="showTimeZoneList"></i>

                <div id="timeZoneList-container" style="display: none">
                    <ul id="timeZoneList">
                        <li class="timezone" data-language="jpn" data-timezone="Asia/Tokyo" data-date_format="Y-m-d" data-clock_format="24">Tokyo</li>
                    </ul>
                </div>

            </div>

            <div class="all__user--account">
                <div class="user__logo">
                    <p class="username__first--letter"></p>
                </div>
                <div class="user">
                     {#<span class="user__name">#}
                        {#{% if user.isLoggedIn %}#}
                            {#{{ user.name }}!#}
                        {#{% endif %}#}
                    {#</span> #}
                    <span class="user__name">rupert</span>
                    <span class="user__rule">Admin</span>
                </div>

            </div>
            <div class="logout">
                <a href="path=/logout/">
                    <img class="logo_logout" src="{{ asset('/build/images/Quit.png') }}" alt="logo_logout">
                </a>
            </div>
        </div>
    </div>
{% endblock %}