{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mediatheque') }}
{% endblock %}

{% block body %}
    <main class="main main-media" {% if media_displayed is defined and uploadIsAuthorizedOnPage is defined and uploadIsAuthorizedOnPage is not same as(false) %} data-media_displayed="{{ media_displayed }}" {% endif %}>
        <div class="main-content">

            <section class="jumbotron">
                {% include 'home/home-info.html.twig' with { 'pageTitle': 'Médiathèque' } %}
            </section>

            <section class="wrapper">
                <article class="wrapper-content">
                    <ul class="tabs">
                        <a href="{{ path('media::showMediatheque', {media: 'image'}) }}"><li class="tablinks {% if app.request.attributes.get('_route') is same as('media::showMediatheque') and app.request.attributes.get('_route_params')['media'] is same as('image') %} active current {% endif %}" data-tab="picture"> <p class="css-tab__label">Image</p></li></a>
                        <a href="{{ path('media::showMediatheque', {media: 'video'}) }}"><li class="tablinks {% if app.request.attributes.get('_route') is same as('media::showMediatheque') and app.request.attributes.get('_route_params')['media'] is same as('video') %} active current {% endif %}" data-tab="tab-video"> <p class="css-tab__label"> Vidéos </p> </li></a>
                        <a href="{{ path('media::showMediatheque', {media: 'video_synchro'}) }}"><li class="tablinks {% if app.request.attributes.get('_route') is same as('media::showMediatheque') and app.request.attributes.get('_route_params')['media'] is same as('video_synchro') %} active current {% endif %}" data-tab="tab-totem"> <p class="css-tab__label"> Vidéos Synchro </p> </li></a>
                        <a href="{{ path('media::showMediatheque', {media: 'video_thematic'}) }}"><li class="tablinks {% if app.request.attributes.get('_route') is same as('media::showMediatheque') and app.request.attributes.get('_route_params')['media'] is same as('video_thematic') %} active current {% endif %}" data-tab="tab-price"> <p class="css-tab__label"> Vidéos Thématique </p> </li></a>
                        <a href="{{ path('media::showMediatheque', {media: 'element_graphic'}) }}"><li class="tablinks {% if app.request.attributes.get('_route') is same as('media::showMediatheque') and app.request.attributes.get('_route_params')['media'] is same as('element_graphic') %} active current {% endif %}" data-tab="tab-price"> <p class="css-tab__label"> Éléments graphiques </p> </li></a>
                        <a href="{{ path('media::showMediatheque', {media: 'template'}) }}"><li class="tablinks {% if app.request.attributes.get('_route') is same as('media::showMediatheque') and app.request.attributes.get('_route_params')['media'] is same as('template') %} active current {% endif %}" data-tab="tab-price"> <p class="css-tab__label"> Templates </p> </li></a>
                        <a href="{{ path('media::showMediatheque', {media: 'incruste'}) }}"><li class="tablinks {% if app.request.attributes.get('_route') is same as('media::showMediatheque') and app.request.attributes.get('_route_params')['media'] is same as('incruste') %} active current {% endif %}" data-tab="tab-price"> <p class="css-tab__label"> Incrustations </p> </li></a>
                    </ul>
                </article>
            </section>

            <section>
                {% block  maincontent %}
                    
                {% endblock %}
            </section>
            
        </div>
    </main>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mediatheque') }}
{% endblock javascripts %}