{# {% extends 'base.html.twig' %}

{% block title "Configuration" %} #}

{% block body %}
    <main class="main main_setting">
        <div class="main-content">

            <section class="jumbotron">

                {% block settingtitle %}{% endblock %}

                <article class="wrapper">
                    <div class="wrapper-content">
                        <div class="nav-prev"><i class="fas fa-arrow-left"></i></div>
                        <ul class="tabs">
                            {# <a href="{{ path('app:enseigne') }}"><li class="tablinks active {% if app.request.attributes.get('_route') == 'app:enseigne' %}  current {% endif %}" data-tab="setting-enseigne" data-tab-text="settings"> <p class="css-tab__label">Enseigne</p></li></a>
                            <a href="{{ path('users:view') }}"><li class="tablinks {% if app.request.attributes.get('_route') == 'users:view' %}  current {% endif %}" data-tab="setting-user" data-tab-text="settings"><p class="css-tab__label">Utilisateurs</p></li></a>
                            <a href="{{ path('criterion_list_index') }}"><li class=" {% if app.request.attributes.get('_route') == 'criterion_list_index' %}  current {% endif %}" data-tab="setting-criteres" data-tab-text="settings"><p class="css-tab__label">Critères</p></li></a>
                            <a href="{{ path('tags_index') }}"><li class=" {% if app.request.attributes.get('_route') == 'tags_index' %}  current {% endif %}" data-tab="setting-tags" data-tab-text="settings"> <p class="css-tab__label">TAGS</p> </li></a> #}

                            <a href="{{ path('customers_index') }}"><li class="tablinks active {% if app.request.attributes.get('_route') == 'app:enseigne' %}  current {% endif %}" data-tab="setting-enseigne" data-tab-text="settings"> <p class="css-tab__label">Enseigne</p></li></a>
                            <a href="{{ path('users:view') }}"><li class="tablinks active {% if app.request.attributes.get('_route') == 'users:view' %}  current {% endif %}" data-tab="setting-user" data-tab-text="settings"><p class="css-tab__label">Utilisateurs</p></li></a>
                            <a href="{{ path('tags_index') }}"><li class="tablinks  {% if app.request.attributes.get('_route') == 'app:managementtags' %}  current {% endif %}" data-tab="setting-tags" data-tab-text="settings"> <p class="css-tab__label">TAGS</p> </li></a>
                        </ul>
                        <div class="nav-next"><i class="fas fa-arrow-right"></i></div>
                    </div>
                </article>
                
            </section>

            <section>

                {% block maincontent %} {% endblock %}
                
            </section>

        </div>
    </main>
{% endblock %}


