{% extends 'base.html.twig' %}

{% block title %} Site {% endblock %}

{% block stylesheets %}
    {{ parent () }}
    {{ encore_entry_link_tags('site') }}
{% endblock %}

{% block body %}
    <main class="main main-site">
        <div class="main-content">
            <section class="jumbotron">
                {% include 'home/home-info.html.twig' with { 'pageTitle': 'Site' , 'sousTitle': (sousTitle is defined) ? sousTitle : 'Liste des Sites'} %}
            </section>

            <section class="wrapper_tabcontent">
                <article class="display site-display ">
                    <div class="display-content">
                        <div class="display-btn">
                            <button type="button" class="btn add-table"><i class="fas fa-plus"></i>Crèer un site </button>
                            <button type="button" class="btn duplicate-table"><a href=""><i class="fas fa-plus"></i>Dupliquer</a></button>
                            <button type="button" class="btn modified-table"><i class="far fa-edit"></i>Modifier</button>
                            <button type="button" class="btn delete-table" data-tablelistdelete="site"><i class="fas fa-trash"></i>Supprimer</button>
                            <button type="button" class="btn tags-table">TAGS</button>
                        </div>
                    </div>
                </article>



                <article class="site-container">

                    <div class="filters_container">

                        <div class="filters_select_container filters_select_site">
                            <div class="display-content-poste" >
                                <button type="button" class="drop-btn ">
                                    <input type="checkbox" value="paris">
                                    <label class="container-input "> Menuboard</label>
                                    <div class="drop-btn-icone"><i class="fas fa-angle-down"></i></div>
                                </button>

                                <div class="display-content-down filter_by_menuboard">
                                    {#{% for categorie in categories %}#}
                                        {#<div class="product-select-col">#}
                                            {#<label class="container-input">{{ categorie.name }}#}
                                                {#<input type="checkbox" value="{{ categorie.id }}">#}
                                                {#<span class="container-rdo"></span>#}
                                            {#</label>#}
                                        {#</div>#}
                                    {#{% endfor %}#}
                                    <div class="product-select-col">
                                        <label class="container-input">Menuboard
                                            <input type="checkbox" value="Menuboard">
                                            <span class="container-rdo"></span>
                                        </label>
                                    </div>
                                    <div class="product-select-col">
                                        <label class="container-input">Vitrine
                                            <input type="checkbox" value="Vitrine">
                                            <span class="container-rdo"></span>
                                        </label>
                                    </div>
                                    <div class="product-select-col">
                                        <label class="container-input">Entrée de salle
                                            <input type="checkbox" value="Entrée">
                                            <span class="container-rdo"></span>
                                        </label>
                                    </div>
                                    <div class="product-select-col">
                                        <label class="container-input">Priceboard
                                            <input type="checkbox" value="Priceboard">
                                            <span class="container-rdo"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="display-content-poste display-content-criterion">
                                <button type="button" class="drop-btn ">
                                    <input type="checkbox" value="Critères">
                                    <label class="container-input ">Critères</label>
                                    <div class="drop-btn-icone"><i class="fas fa-angle-down"></i></div>
                                </button>

                                <div class="display-content-down filter_by_criterion">

                                    <div class="product-select-col">
                                        <label class="container-input">Menuboard
                                            <input type="checkbox" value="Menuboard">
                                            <span class="container-rdo"></span>
                                        </label>
                                    </div>
                                    <div class="product-select-col">
                                        <label class="container-input">Vitrine
                                            <input type="checkbox" value="Vitrine">
                                            <span class="container-rdo"></span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="display-content-poste">
                                <button type="button" class="drop-btn ">
                                    <input type="checkbox" value="Tags">
                                    <label class="container-input ">Tags</label>
                                    <div class="drop-btn-icone"><i class="fas fa-angle-down"></i></div>
                                </button>

                                <div class="display-content-down filter_by_tags">

                                    <div class="product-select-col">
                                        <label class="container-input">TF06
                                            <input type="checkbox" value="TF06">
                                            <span class="container-rdo"></span>
                                        </label>
                                    </div>
                                    <div class="product-select-col">
                                        <label class="container-input">TF05
                                            <input type="checkbox" value="TF05">
                                            <span class="container-rdo"></span>
                                        </label>
                                    </div>
                                    <div class="product-select-col">
                                        <label class="container-input">PROMO
                                            <input type="checkbox" value="PROMO">
                                            <span class="container-rdo"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filters_btn_container">
                            <button type="button" class="btn site-btn-filter"> FITRER </button>
                        </div>

                    </div>

                    <div class="btn-container">
                        <button type="button" class="btn" > Trame modèle vierge </button>
                        <button type="button" class="btn" > Exporter sites </button>
                    </div>
                    
                    <div class="table">
                        <table class="table-custome">
                            <thead class="thead-content">
                                <tr>
                                    <th>
                                        <input type="checkbox" name="select" id="selectAll">
                                    </th>
                                    <th>Nom</th>
                                    <th>
                                        <select id="city" class="filter_city">
                                            <option value="0">Ville</option>
                                            <option value="Montpellier">Montpellier</option>
                                            <option value="Paris">Paris</option>
                                        </select>

                                        </th>
                                    <th class="header__item">
                                        <div class="th_zone filter__link filter__link--active">
                                            Zone de diffusion
                                            <span>Tous</span>
                                        </div>

                                    </th>
                                    <th>Motif. à date</th>
                                    <th>
                                        <div class="th_modif">
                                            Critères
                                            <div>
                                                <span>Religieux</span>
                                                <span>Offres</span>
                                            </div>
                                        </div>
                                    </th>

                                    <th>TAGS</th>
                                    <th>Groupe de prix </th>
                                    <th>Contact</th>
                                </tr>
                            </thead>
                            <tbody class="tbody-content">

                                    <tr>
                                        <td><input type="checkbox" name="select" id="selectAll"></td>
                                        <td>Q047</td>
                                        <td data-format="Montpellier" class="city montpellier">montpellier</td>
                                        <td class="zone_diffusion">
                                            <span> Menuboard </span>
                                            <span> Entrée de salle</span>
                                            <span> Vitrine</span>
                                        </td>
                                        <td>12 / 04 / 2020</td>
                                        <td>
                                            <div class="bloc-criterion">
                                                <p class="container-criterion">Gamme Tous</p>
                                                <p class="container-criterion">ptit Dej</p>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="container-tags">
                                                <span class="mini-cercle" style="background: #000000;"></span>
                                                <span class="current-tags-name">BBQ</span>
                                            </p>

                                        </td>
                                        <td>Medium</td>
                                        <td>Amandine M.</td>
                                        <td>  0619301547 </td>
                                    </tr>

                                    <tr>
                                        <td><input type="checkbox" name="select" id="selectAll"></td>
                                        <td>Q047</td>
                                        <td data-format="Paris" class="city paris">paris</td>
                                        <td class="zone_diffusion" >
                                            <span> Menuboard</span>
                                            <span> Priceboard</span>
                                        </td>
                                        <td>12 / 04 / 2020</td>
                                        <td>
                                            <p class="container-criterion" >Ptit</p>
                                            <p class="container-criterion" > Dej</p>
                                        </td>
                                        <td>
                                            <p class="container-tags">
                                                <span class="mini-cercle" style="background: #000000;"></span>
                                                <span class="current-tags-name">TF06</span>
                                            </p>
                                        </td>
                                        <td>Medium</td>
                                        <td>Amandine M.</td>
                                        <td>0619301547</td>
                                    </tr>

                                    <tr>
                                        <td><input type="checkbox" name="select" id="selectAll"></td>
                                        <td>Q047</td>
                                        <td data-format="Paris" class="city">uk</td>
                                        <td class="zone_diffusion">
                                            <span data-zone="Vitrine">Vitrine</span>
                                        </td>
                                        <td>12 / 04 / 2020</td>
                                        <td>
                                            <p class="container-criterion" >Ptit</p>
                                            <p class="container-criterion" > Dej</p>
                                        </td>
                                        <td>
                                            <p class="container-tags">
                                                <span class="mini-cercle" style="background: #000000;"></span>
                                                <span class="current-tags-name">TF05</span>
                                            </p>
                                        </td>
                                        <td>Medium</td>
                                        <td>Amandine M.</td>
                                        <td>  0619301547 </td>
                                    </tr >

                                    <tr >
                                        <td><input type="checkbox" name="select" id="selectAll"></td>
                                        <td>Q047</td>
                                        <td data-format="Paris" class="city paris">paris</td>
                                        <td class="zone_diffusion">
                                            <span>Priceboard</span>
                                        </td>
                                        <td>12 / 04 / 2020</td>
                                        <td>
                                            <p class="container-criterion" >Ptit</p>
                                            <p class="container-criterion" > Dej</p>
                                        </td>
                                        <td>
                                            <p class="container-tags">
                                                <span class="mini-cercle" style="background: #000000;"></span>
                                                <span class="current-tags-name">PROMO</span>
                                            </p>
                                        </td>
                                        <td>Medium</td>
                                        <td>Amandine M.</td>
                                        <td>0619301547</td>
                                    </tr>

                            </tbody>

                        </table>

                    </div>
                </article>

            </section>
        </div>
    </main>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('site') }}
{% endblock javascripts %}