{% block _medias_list_widget %}

    {{ form_row(form.medias) }}

{% endblock %}

{% block _medias_list_medias_widget %}
    <p>hello</p>
    {{ dump(form.vars.prototype) }}
    <td data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}">
        {{ form_widget(form) }}
    </td>

{% endblock %}

{% block _media_diffusion_start_widget %}

    <td>
        {{ form_widget(form) }}
    </td>

{% endblock %}

{% block _media_diffusion_end_widget %}

    <td>
        {{ form_widget(form) }}
    </td>

{% endblock %}

{% block _media_diffusion_tags_widget %}

    <td>
        {{ form_widget(form) }}
    </td>

{% endblock %}

{% block _media_diffusion_products_widget %}

    <td>
        {{ form_widget(form) }}
    </td>

{% endblock %}

{% block _media_diffusion_contain_incruste_widget %}

    <td>
        {{ form_widget(form) }}
    </td>

{% endblock %}